Repository MicrosoftDocs/sdk-api, pull requests merged in 2020-09, with the labels that each got.

#437 Correct information about setting the system time zone
  sdk-api-src/content/timezoneapi/nf-timezoneapi-settimezoneinformation.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#426 CredPackAuthenticationBufferW: fix escape issue
  sdk-api-src/content/wincred/nf-wincred-credpackauthenticationbufferw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#438 Fixed: Remarks text was formatted as code
  sdk-api-src/content/netioapi/nf-netioapi-getipnetentry2.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#439 Fix values for PACKAGE_ID.processorArchitecture
  sdk-api-src/content/appmodel/ns-appmodel-package_id.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#440 Fix link
  sdk-api-src/content/audioclient/nf-audioclient-iaudioclient2-setclientproperties.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#442 Clarify SetProcessValidCallTargets documentation
  sdk-api-src/content/memoryapi/nf-memoryapi-setprocessvalidcalltargets.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#443 Fixed dwNotifSource duplicate possible value in WlanRegisterNotification function parameters desctription
  sdk-api-src/content/wlanapi/nf-wlanapi-wlanregisternotification.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#450 Escape backslash
  sdk-api-src/content/libloaderapi/nf-libloaderapi-getmodulehandlea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#447 Clarify destruction of SRW locks and condition variables.
  sdk-api-src/content/synchapi/nf-synchapi-initializeconditionvariable.md
  sdk-api-src/content/synchapi/nf-synchapi-initializesrwlock.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#449 Fixed typo at the ONEX_VARIABLE_BLOB structure
  sdk-api-src/content/dot1x/ns-dot1x-onex_variable_blob.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#448 Fixed typo at ONEX_REASON_CODE description page
  sdk-api-src/content/dot1x/ne-dot1x-onex_reason_code.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#453 MDNS_QUERY_CALLBACK: correct function in "pQueryContext" parameter description
  sdk-api-src/content/windns/nc-windns-mdns_query_callback.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#452 Fixes MicrosoftDocs/feedback#3102
  sdk-api-src/content/winreg/nf-winreg-reggetvaluea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#346 Same as here pull request 420
  sdk-api-src/content/audioclient/nf-audioclient-iaudioclient-initialize.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#456 Update nf-processthreadsapi-getcurrentthreadeffectivetoken.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getcurrentthreadeffectivetoken.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#455 Update nf-processthreadsapi-getcurrentthreadtoken.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getcurrentthreadtoken.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#454 Update nf-processthreadsapi-getcurrentprocesstoken.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getcurrentprocesstoken.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#457 Adjusted WLAN_HOSTED_NETWORK_DATA_PEER_STATE_CHANGE members layout
  sdk-api-src/content/wlanapi/ns-wlanapi-wlan_hosted_network_data_peer_state_change.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#458 Add clarification about IO completion ports
  sdk-api-src/content/winsock2/nf-winsock2-wsarecvfrom.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#460 Updated MIB_IPINTERFACE_ROW SupportsRouterDiscovery description
  sdk-api-src/content/netioapi/ns-netioapi-mib_ipinterface_row.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#461 ClientAddress not available in some scenarios
  sdk-api-src/content/wtsapi32/ns-wtsapi32-wts_client_address.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#445 Update nf-shlwapi-pathfileexistsw.md
  sdk-api-src/content/shlwapi/nf-shlwapi-pathfileexistsw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#466 Fix typo
  sdk-api-src/content/netioapi/nf-netioapi-convertinterfaceluidtoguid.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#470 Update ns-tlhelp32-processentry32.md
  sdk-api-src/content/tlhelp32/ns-tlhelp32-processentry32.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech

#471 Update nf-credentialprovider-icredentialprovidercredentialevents-oncr…
  sdk-api-src/content/credentialprovider/nf-credentialprovider-icredentialprovidercredentialevents-oncreatingwindow.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#459 Update nf-fileapi-writefile.md
  sdk-api-src/content/fileapi/nf-fileapi-writefile.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#472 Fixed NL_NETWORK_CONNECTIVITY_LEVEL_HINT values description
  sdk-api-src/content/nldef/ne-nldef-nl_network_connectivity_level_hint.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#473 Fix incorrect units for MaxMasteringLuminance
  sdk-api-src/content/dxgi1_5/ns-dxgi1_5-dxgi_hdr_metadata_hdr10.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#446 EnterCriticalSection: Note about processes currently exiting
  sdk-api-src/content/synchapi/nf-synchapi-entercriticalsection.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#474 Fix formatting and incredibly misleading link
  sdk-api-src/content/libloaderapi/nf-libloaderapi-lockresource.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#480 SHELEXECUTEINFO updates, sync behavior on site, describe log usage option
  sdk-api-src/content/shellapi/ns-shellapi-shellexecuteinfoa.md
  sdk-api-src/content/shellapi/ns-shellapi-shellexecuteinfow.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#481 Add missing mesh/amplification shader related enums for ne-d3d12-d3d12_shader_visibility.md
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_shader_visibility.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
