Repository MicrosoftDocs/sdk-api, pull requests merged in 2020-06, with the labels that each got.

#287 221250 - Fix broken links from OPS report 5/20
  sdk-api-src/content/eaptypes/ns-eaptypes-eapusernamepasswordcredential.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#293 Update ne-d3d12-d3d12_logic_op.md
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_logic_op.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#292 Change "depth-stencil state" to "depth-stencil view"
  sdk-api-src/content/d3d11/nf-d3d11-id3d11devicecontext-omsetrendertargets.md
  sdk-api-src/content/d3d11/nf-d3d11-id3d11devicecontext-omsetrendertargetsandunorderedaccessviews.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#291 Explain the range definition of the parameters of ID3D12GraphicsCommandList::OMSetRenderTargets
  sdk-api-src/content/d3d12/nf-d3d12-id3d12graphicscommandlist-omsetrendertargets.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#290 Fix dll name error for D3DCompile.
  sdk-api-src/content/d3dcompiler/nf-d3dcompiler-d3dcompile.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#289 Fix incorrect versioning in d3d12_stencil_op page
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_stencil_op.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#297 Update nn-shobjidl_core-ifileoperation.md
  sdk-api-src/content/shobjidl_core/nn-shobjidl_core-ifileoperation.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#285 Fix SECPKG_CRED_OUTBOUND
  sdk-api-src/content/sspi/nf-sspi-acquirecredentialshandlew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#284 Fix SECPKG_CRED_OUTBOUND
  sdk-api-src/content/sspi/nf-sspi-acquirecredentialshandlea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#270 _InlineInterlockedAdd64 is really InterlockedAdd64
  sdk-api-src/content/winnt/nf-winnt-_inlineinterlockedadd64.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#259 Correct references in CreateHardLink docs
  sdk-api-src/content/winbase/nf-winbase-createhardlinka.md
  sdk-api-src/content/winbase/nf-winbase-createhardlinkw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#235 Update nf-wingdi-getsystempaletteentries.md
  sdk-api-src/content/wingdi/nf-wingdi-getsystempaletteentries.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#230 Fixed link to ShellExecute function.
  sdk-api-src/content/winbase/nf-winbase-createprocesswithlogonw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#227 Fixed broken markdown in registry path
  sdk-api-src/content/winbase/nf-winbase-movefileexa.md
  sdk-api-src/content/winbase/nf-winbase-movefileexw.md
  sdk-api-src/content/winbase/nf-winbase-movefiletransacteda.md
  sdk-api-src/content/winbase/nf-winbase-movefiletransactedw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#256 Add disclaimer to GetDeviceGammaRamp
  sdk-api-src/content/wingdi/nf-wingdi-getdevicegammaramp.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#212 Update nf-wincrypt-cryptsignmessage.md
  sdk-api-src/content/wincrypt/nf-wincrypt-cryptsignmessage.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#200 Update nf-winbase-createprivatenamespace.md
  sdk-api-src/content/winbase/nf-winbase-createprivatenamespacea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#298 Update nf-fileapi-gettemppatha.md
  sdk-api-src/content/fileapi/nf-fileapi-gettemppatha.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#233 Add reference from BCryptDeriveKey to BCryptKeyDerivation
  sdk-api-src/content/bcrypt/nf-bcrypt-bcryptderivekey.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#299 adding space after flag value
  sdk-api-src/content/fileapi/nf-fileapi-createfilea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#303 Update nf-winuser-getrawinputdeviceinfow.md
  sdk-api-src/content/winuser/nf-winuser-getrawinputdeviceinfow.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#264 Update nf-processthreadsapi-getthreaddescription.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getthreaddescription.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#301 Update ni-winioctl-ioctl_disk_set_partition_info.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_set_partition_info.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#302 Update nf-winuser-getrawinputdeviceinfoa.md
  sdk-api-src/content/winuser/nf-winuser-getrawinputdeviceinfoa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#296 Update nf-winuser-setmenuitembitmaps.md
  sdk-api-src/content/winuser/nf-winuser-setmenuitembitmaps.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#295 Swap physical<->logical coordinates on the description
  sdk-api-src/content/winuser/nf-winuser-physicaltologicalpointforpermonitordpi.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#277 GetWindowRect: Notes on Drop Shadow and Shown Windows
  sdk-api-src/content/winuser/nf-winuser-getwindowrect.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#278 Process value add
  sdk-api-src/content/commctrl/ns-commctrl-initcommoncontrolsex.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#300 Just a simple clarification of remarks
  sdk-api-src/content/d3d11/nf-d3d11-id3d11devicecontext-drawindexedinstanced.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#211 Update WaitOnAdress / WakeByAddressSignle / WakeByAddressAll to refer to the correct dll
  sdk-api-src/content/synchapi/nf-synchapi-waitonaddress.md
  sdk-api-src/content/synchapi/nf-synchapi-wakebyaddressall.md
  sdk-api-src/content/synchapi/nf-synchapi-wakebyaddresssingle.md
Labels: Change sent to author, desktop/prod, do-not-merge, review-team-triage, sdk-api-reference/tech

#304 Added Bias-Free Communications Note
  sdk-api-src/content/strmif/ne-strmif-_am_audio_renderer_stat_param.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#305 Fix error regarding SetClipboardData in response to WM_RENDERALLFORMATS
  sdk-api-src/content/winuser/nf-winuser-setclipboarddata.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#310 Add TargetedVersion enum description
  sdk-api-src/content/waasapitypes/ne-waasapitypes-updateassessmentstatus.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#312 Update nf-appmodel-packagefamilynamefromid.md
  sdk-api-src/content/appmodel/nf-appmodel-packagefamilynamefromid.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#252 access right PROCESS_VM_READ not needed
  sdk-api-src/content/psapi/nf-psapi-getmodulefilenameexa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#317 Wrong parameter order in an example
  sdk-api-src/content/d3d12/nf-d3d12-id3d12device1-createpipelinelibrary.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#316 Fix link in CreateProtectedResourceSession
  sdk-api-src/content/d3d12/nf-d3d12-id3d12device4-createprotectedresourcesession.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#315 Fix incorrectly formatted asterisk in VSSetConstatnBuffers
  sdk-api-src/content/d3d11/nf-d3d11-id3d11devicecontext-vssetconstantbuffers.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#318 Added description of BRYPT_KDF_RAW_SECRET value + remarks
  sdk-api-src/content/bcrypt/nf-bcrypt-bcryptderivekey.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#323 Undocument error AUDCLNT_E_RESOURCES_INVALIDATED
  sdk-api-src/content/audioclient/nf-audioclient-iaudiorenderclient-getbuffer.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#322 Max accepted latency is 5000ms not 500ms
  sdk-api-src/content/audioclient/nf-audioclient-iaudioclient-initialize.md
Labels: do-not-merge

#321 Fix typo
  sdk-api-src/content/mfobjects/nf-mfobjects-imf2dbuffer2-lock2dsize.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#319 Update ns-winuser-rawmouse.md
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#324 add missing returns rection
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getprocessid.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#325 Fix typo (Windows 8.10 is ever so slightly incorrect)
  sdk-api-src/content/versionhelpers/nf-versionhelpers-iswindowsversionorgreater.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#327 d3d12: Clarify CopyTextureRegion for depth-stencil buffers
  sdk-api-src/content/d3d12/nf-d3d12-id3d12graphicscommandlist-copytextureregion.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#326 Removed incorrect comment about GetCurrentPadding and capture clients.
  sdk-api-src/content/audioclient/nf-audioclient-iaudioclient-getcurrentpadding.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#331 Fixing bold markup
  sdk-api-src/content/synchapi/nf-synchapi-entercriticalsection.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#329 Format list of valid flags
  sdk-api-src/content/vds/nf-vds-ivdsvolume-setflags.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#328 Add example drive path.
  sdk-api-src/content/vds/ns-vds-vds_disk_prop.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#309 Update article according to CI 119768
  sdk-api-src/content/ntsecapi/ns-ntsecapi-kerb_s4u_logon.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#333 Update nf-netioapi-convertipv4masktolength.md
  sdk-api-src/content/netioapi/nf-netioapi-convertipv4masktolength.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#337 Fix ID3D12GraphicsCommandList::ResolveSubresource
  sdk-api-src/content/d3d12/nf-d3d12-id3d12graphicscommandlist-resolvesubresource.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#340 Document that SRW lock is not a semaphore
  sdk-api-src/content/synchapi/nf-synchapi-releasesrwlockexclusive.md
  sdk-api-src/content/synchapi/nf-synchapi-releasesrwlockshared.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#339 Fix ID3D12StateObject link
  sdk-api-src/content/d3d12/nn-d3d12-id3d12stateobject.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#341 Update nn-dxgi-idxgisurface.md
  sdk-api-src/content/dxgi/nn-dxgi-idxgisurface.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#343 Remove extra space
  sdk-api-src/content/iptypes/ns-iptypes-ip_adapter_addresses_lh.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
