Repository MicrosoftDocs/sdk-api, pull requests merged in 2020-04, with the labels that each got.

#164 Update nf-dxgi1_6-idxgifactory6-enumadapterbygpupreference.md
  sdk-api-src/content/dxgi1_6/nf-dxgi1_6-idxgifactory6-enumadapterbygpupreference.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#130 Update nf-winbase-createsemaphorea.md
  sdk-api-src/content/winbase/nf-winbase-createsemaphorea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#170 Fix footnote reference for R9G9B9E5 format
  sdk-api-src/content/dxgiformat/ne-dxgiformat-dxgi_format.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#172 Fix job info class value mismatch
  sdk-api-src/content/jobapi2/nf-jobapi2-queryinformationjobobject.md
  sdk-api-src/content/jobapi2/nf-jobapi2-setinformationjobobject.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#174 Incorrect declaration of sockaddr_in
  sdk-api-src/content/winsock/nf-winsock-recvfrom.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#179 Update library name to Windowscodecs.lib
  sdk-api-src/content/wincodec/nf-wincodec-wicconvertbitmapsource.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#180 Updated all references from wincodec.lib to Windowscodecs.lib
  sdk-api-src/content/wincodec/nf-wincodec-wicconvertbitmapsource.md
  sdk-api-src/content/wincodec/nf-wincodec-wiccreatebitmapfromsection.md
  sdk-api-src/content/wincodec/nf-wincodec-wiccreatebitmapfromsectionex.md
  sdk-api-src/content/wincodec/nf-wincodec-wicmapschematoname.md
  sdk-api-src/content/wincodec/nf-wincodec-wicmapshortnametoguid.md
  sdk-api-src/content/wincodecsdk/nf-wincodecsdk-wicgetmetadatacontentsize.md
  sdk-api-src/content/wincodecsdk/nf-wincodecsdk-wicmatchmetadatacontent.md
  sdk-api-src/content/wincodecsdk/nf-wincodecsdk-wicserializemetadatacontent.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#182 Fix typo in "leap year"
  sdk-api-src/content/minwinbase/ns-minwinbase-systemtime.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#185 Update nf-processthreadsapi-setthreadinformation.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setthreadinformation.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#191 Specify LoadLibraryExW dotted filename behavior
  sdk-api-src/content/libloaderapi/nf-libloaderapi-loadlibraryexw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#193 fix return type
  sdk-api-src/content/shlwapi/nf-shlwapi-pathcombinew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#192 Fix tables and formattings in pathcch* APIs
  sdk-api-src/content/pathcch/nf-pathcch-pathalloccanonicalize.md
  sdk-api-src/content/pathcch/nf-pathcch-pathalloccombine.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchaddbackslash.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchaddbackslashex.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchaddextension.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchappend.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchappendex.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchcanonicalize.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchcanonicalizeex.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchcombine.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchcombineex.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchfindextension.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchisroot.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchremovebackslash.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchremovebackslashex.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchremoveextension.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchremovefilespec.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchrenameextension.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchstripprefix.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchstriptoroot.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#190 Update nf-psapi-queryworkingsetex.md
  sdk-api-src/content/psapi/nf-psapi-queryworkingsetex.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#195 Correct return value description
  sdk-api-src/content/ws2tcpip/nf-ws2tcpip-gai_strerrora.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#203 Update ns-winuser-rawinputdevice.md
  sdk-api-src/content/winuser/ns-winuser-rawinputdevice.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#189 Update ns-winuser-rawmouse.md
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#166 Update ns-winuser-rawmouse.md
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#168 Update ns-winuser-rawmouse.md
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#198 Update nf-bcrypt-bcryptdecrypt.md
  sdk-api-src/content/bcrypt/nf-bcrypt-bcryptdecrypt.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#197 Update nf-bcrypt-bcryptencrypt.md
  sdk-api-src/content/bcrypt/nf-bcrypt-bcryptencrypt.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#196 Added missing space in text
  sdk-api-src/content/fileapi/nf-fileapi-createfilew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#181 Correct backslashes in GetTempPathW
  sdk-api-src/content/fileapi/nf-fileapi-gettemppathw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#186 Update ni-winioctl-ioctl_disk_get_disk_attributes.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_disk_attributes.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#208 Only the first 259 TCHAR's are displayed not 260.
  sdk-api-src/content/commctrl/ns-commctrl-lvitema.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#206 Update ns-winuser-rawkeyboard.md
  sdk-api-src/content/winuser/ns-winuser-rawkeyboard.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#184 Updated DHCP and DHCPv6 Client API.
  sdk-api-src/content/dhcpcsdk/nf-dhcpcsdk-dhcpregisterparamchange.md
  sdk-api-src/content/dhcpcsdk/nf-dhcpcsdk-dhcprequestparams.md
  sdk-api-src/content/dhcpcsdk/nf-dhcpcsdk-dhcpundorequestparams.md
  sdk-api-src/content/dhcpv6csdk/nf-dhcpv6csdk-dhcpv6releaseprefix.md
  sdk-api-src/content/dhcpv6csdk/nf-dhcpv6csdk-dhcpv6renewprefix.md
  sdk-api-src/content/dhcpv6csdk/nf-dhcpv6csdk-dhcpv6requestparams.md
  sdk-api-src/content/dhcpv6csdk/nf-dhcpv6csdk-dhcpv6requestprefix.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#167 Fixes to formatting in IOCTL documentation
  sdk-api-src/content/commctrl/ns-commctrl-lvitema.md
  sdk-api-src/content/dhcpcsdk/nf-dhcpcsdk-dhcpregisterparamchange.md
  sdk-api-src/content/dhcpcsdk/nf-dhcpcsdk-dhcprequestparams.md
  sdk-api-src/content/dhcpcsdk/nf-dhcpcsdk-dhcpundorequestparams.md
  sdk-api-src/content/dhcpv6csdk/nf-dhcpv6csdk-dhcpv6requestparams.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_disk_attributes.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_drive_geometry.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_drive_geometry_ex.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_drive_layout.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_drive_layout_ex.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_set_drive_layout.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_set_drive_layout_ex.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#215 Updated CreateBlendState1 to fix a link
  sdk-api-src/content/d3d11_1/nf-d3d11_1-id3d11device1-createblendstate1.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#209 Fix unescaped backslash
  sdk-api-src/content/winbase/nf-winbase-setcurrentdirectory.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#201 Update nf-winbase-openprivatenamespacea.md
  sdk-api-src/content/winbase/nf-winbase-openprivatenamespacea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#205 Update ns-winuser-rawmouse.md
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#217 Fixed incorrect inheritance documentation for IAudioClient2
  sdk-api-src/content/audioclient/nn-audioclient-iaudioclient2.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#218 Update ns-directml-dml_activation_elu_operator_desc.md
  sdk-api-src/content/directml/ns-directml-dml_activation_elu_operator_desc.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#222 Update ns-winuser-rid_device_info_keyboard.md
  sdk-api-src/content/winuser/ns-winuser-rid_device_info_keyboard.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#221 Update nf-winuser-get_rawinput_code_wparam.md
  sdk-api-src/content/winuser/nf-winuser-get_rawinput_code_wparam.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#220 Fix some errors on ID3D12Debug interface doc
  sdk-api-src/content/d3d12sdklayers/nn-d3d12sdklayers-id3d12debug.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#223 Link SetThreadDescription to a How to article
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setthreaddescription.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#224 Fixed typo with backslash escape character.
  sdk-api-src/content/winsvc/nf-winsvc-createservicea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
