Repository MicrosoftDocs/sdk-api, pull requests merged in 2020-03, with the labels that each got.

#108 Fixed spelling of referenced documentation
  sdk-api-src/content/shlobj_core/nf-shlobj_core-shgetspecialfolderpatha.md
  sdk-api-src/content/shlobj_core/nf-shlobj_core-shgetspecialfolderpathw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#110 Fix incorrect link destination
  sdk-api-src/content/audioclient/nf-audioclient-iaudioclient-initialize.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#107 Update nf-ws2tcpip-inetntopw.md
  sdk-api-src/content/ws2tcpip/nf-ws2tcpip-inetntopw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#112 Update nf-bits2_5-ibackgroundcopyjobhttpoptions-setcustomheaders.md
  sdk-api-src/content/bits2_5/nf-bits2_5-ibackgroundcopyjobhttpoptions-setcustomheaders.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#114 Update nf-imapi2fs-ifilesystemimage-importfilesystem.md
  sdk-api-src/content/imapi2fs/nf-imapi2fs-ifilesystemimage-importfilesystem.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#115 Update nf-fileapi-findnextchangenotification.md
  sdk-api-src/content/fileapi/nf-fileapi-findnextchangenotification.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#118 Indicate that closing sync WinHttp handles for in-progress requests is unsupported
  sdk-api-src/content/winhttp/nf-winhttp-winhttpclosehandle.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#119 Update nf-winsock-transmitfile.md
  sdk-api-src/content/winsock/nf-winsock-transmitfile.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#122 Update line breaks inside table
  sdk-api-src/content/pathcch/nf-pathcch-pathcchcanonicalizeex.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#120 Fix link to AppPolicyWindowingModel
  sdk-api-src/content/appmodel/nf-appmodel-apppolicygetwindowingmodel.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#125 SHGetFolderPathA: Escape backslash
  sdk-api-src/content/shlobj_core/nf-shlobj_core-shgetfolderpatha.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#127 Update nf-memoryapi-readprocessmemory.md
  sdk-api-src/content/memoryapi/nf-memoryapi-readprocessmemory.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#126 Typo
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-updateprocthreadattribute.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#123 Fix invisible backslashes in CreateFile documentation
  sdk-api-src/content/fileapi/nf-fileapi-createfilea.md
  sdk-api-src/content/fileapi/nf-fileapi-createfilew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#124 Fix small typo
  sdk-api-src/content/winbase/nf-winbase-setfirmwareenvironmentvariableexw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#121 [OpenFileMappingA] Escaple backslash
  sdk-api-src/content/winbase/nf-winbase-openfilemappinga.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#109 Update nf-winnet-interlockedexchange.md
  sdk-api-src/content/winnt/nf-winnt-interlockedexchange.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#131 Update ni-winioctl-ioctl_disk_get_drive_geometry.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_drive_geometry.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#132 Fix garbage after OpenMutex link.
  sdk-api-src/content/synchapi/nf-synchapi-createmutexa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#139 Update nf-ws2tcpip-inet_ntop.md
  sdk-api-src/content/ws2tcpip/nf-ws2tcpip-inet_ntop.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#138 Update nf-netioapi-convertlengthtoipv4mask.md
  sdk-api-src/content/netioapi/nf-netioapi-convertlengthtoipv4mask.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#136 Update drive geometry ioctl
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_drive_geometry.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_drive_geometry_ex.md
  sdk-api-src/content/winioctl/ns-winioctl-disk_detection_info.md
  sdk-api-src/content/winioctl/ns-winioctl-disk_geometry.md
  sdk-api-src/content/winioctl/ns-winioctl-disk_geometry_ex.md
  sdk-api-src/content/winioctl/ns-winioctl-disk_partition_info.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#137 dwFlags can be zero
  sdk-api-src/content/synchapi/nf-synchapi-initoncebegininitialize.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#135 Delete stackdump file from repo root.
  vim.exe.stackdump
Labels: do-not-merge, review-team-triage

#134 Delete zero byte file diff-11-20.txt from root
  diff-11-20.txt
Labels: do-not-merge, review-team-triage

#140 Update drive layout IOCTLs
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_drive_layout.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_get_drive_layout_ex.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_set_drive_layout.md
  sdk-api-src/content/winioctl/ni-winioctl-ioctl_disk_set_drive_layout_ex.md
  sdk-api-src/content/winioctl/ns-winioctl-drive_layout_information.md
  sdk-api-src/content/winioctl/ns-winioctl-drive_layout_information_ex.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#142 Update ni-tcpioctl-ioctl_tcp_query_information_ex.md
  sdk-api-src/content/tcpioctl/ni-tcpioctl-ioctl_tcp_query_information_ex.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#133 Delete garbage file temp.txt from the root of the source tree
  temp.txt
Labels: do-not-merge, review-team-triage

#143 Update nf-ioapiset-deviceiocontrol.md
  sdk-api-src/content/ioapiset/nf-ioapiset-deviceiocontrol.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#147 Update nf-winuser-getcursorinfo.md
  sdk-api-src/content/winuser/nf-winuser-getcursorinfo.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#141 Update nf-winuser-settimer.md
  sdk-api-src/content/winuser/nf-winuser-settimer.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#113 Fixed extra "Type:" in nf-winuser-isiconic.md
  sdk-api-src/content/winuser/nf-winuser-isiconic.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#153 Added example, a link to EnterpriseStateClassify
  sdk-api-src/content/netfw/nf-netfw-networkisolationgetenterpriseidclose.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#154 added sample, a link to EnterpriseStateClassify
  sdk-api-src/content/netfw/nf-netfw-networkisolationgetenterpriseidasync.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#151 escaped backslashes
  sdk-api-src/content/fileapi/nf-fileapi-getvolumeinformationa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#149 fix links to interpage section (cont.)
  sdk-api-src/content/fileapi/nf-fileapi-createfilew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#148 fix links to interpage section
  sdk-api-src/content/fileapi/nf-fileapi-createfilea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#129 Use escape for backslash
  sdk-api-src/content/fileapi/nf-fileapi-querydosdevicew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#157 Update nf-synchapi-sleepex.md
  sdk-api-src/content/synchapi/nf-synchapi-sleepex.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#81 Fixed formatting in the parameters description.
  sdk-api-src/content/winuser/nf-winuser-getclassnamea.md
  sdk-api-src/content/winuser/nf-winuser-getclassnamew.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#161 Update nf-winuser-inflaterect.md
  sdk-api-src/content/winuser/nf-winuser-inflaterect.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#160 Update nf-winuser-getmessagetime.md
  sdk-api-src/content/winuser/nf-winuser-getmessagetime.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#162 Document new WinHTTP autoproxy flags
  sdk-api-src/content/winhttp/ns-winhttp-winhttp_autoproxy_options.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#156 Update ns-winuser-rawinputdevice.md
  sdk-api-src/content/winuser/ns-winuser-rawinputdevice.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#155 Update nf-winuser-get_device_lparam.md
  sdk-api-src/content/winuser/nf-winuser-get_device_lparam.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#158 Update ns-winuser-rawkeyboard.md
  sdk-api-src/content/winuser/ns-winuser-rawkeyboard.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#152 Update ns-winuser-rawmouse.md
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#146 Correct minimum OS version for GetPointerInputTransform API
  sdk-api-src/content/winuser/nf-winuser-getpointerinputtransform.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#145 IShellItem: Incorrect link at Inheritance
  sdk-api-src/content/shobjidl_core/nn-shobjidl_core-ishellitem.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#163 Update nf-winsock2-wsapoll.md
  sdk-api-src/content/winsock2/nf-winsock2-wsapoll.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#165 [nf-winbase-createfilemappinga.md]: Fix wrong parameter name
  sdk-api-src/content/winbase/nf-winbase-createfilemappinga.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
