Repository MicrosoftDocs/sdk-api, pull requests merged in 2020-10, with the labels that each got.

#484 FIx broken link
  sdk-api-src/content/d3dcommon/nf-d3dcommon-id3ddestructionotifier-unregisterdestructioncallback.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#483 Fix name requirement for NamedPipe
  sdk-api-src/content/winbase/nf-winbase-createnamedpipea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#482 Unescaped Backslash in LoadLibraryA / LoadLibraryW
  sdk-api-src/content/libloaderapi/nf-libloaderapi-loadlibrarya.md
  sdk-api-src/content/libloaderapi/nf-libloaderapi-loadlibraryw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#485 fix PROCESS_LEAP_SECOND_INFO link
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setprocessinformation.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#486 Update nf-winreg-regenumvaluea.md
  sdk-api-src/content/winreg/nf-winreg-regenumvaluea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#479 Markup fixes for nf-winsock2-wsapoll.md
  sdk-api-src/content/winsock2/nf-winsock2-wsapoll.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#487 Add advisory for correct TCP ESTATS usage
  sdk-api-src/content/iphlpapi/nf-iphlpapi-setpertcpconnectionestats.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#495 Update nf-commctrl-treeview_geteditcontrol.md
  sdk-api-src/content/commctrl/nf-commctrl-treeview_geteditcontrol.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#496 Fix link to VirtualAlloc2 in MapViewOfFile3 documentaiton.
  sdk-api-src/content/memoryapi/nf-memoryapi-mapviewoffile3.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#497 RegSetValue -> RegSetValueEx
  sdk-api-src/content/winreg/nf-winreg-regdeletevaluea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#498 Fixed prefix (markdown)
  sdk-api-src/content/libloaderapi/nf-libloaderapi-getmodulefilenamea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#501 Document undocumented D3D12_HEAP_FLAGS
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_heap_flags.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#502 Update nf-winuser-getrawinputdeviceinfoa.md
  sdk-api-src/content/winuser/nf-winuser-getrawinputdeviceinfoa.md
  sdk-api-src/content/winuser/nf-winuser-getrawinputdeviceinfow.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#499 Update nf-commctrl-treeview_getparent.md
  sdk-api-src/content/commctrl/nf-commctrl-treeview_getparent.md
Labels: desktop/prod, sdk-api-reference/tech

#494 Update nf-winuser-enablenonclientdpiscaling.md
  sdk-api-src/content/winuser/nf-winuser-enablenonclientdpiscaling.md
Labels: desktop/prod, sdk-api-reference/tech

#503 Update nf-audioclient-iaudioclient2-getbuffersizelimits.md
  sdk-api-src/content/audioclient/nf-audioclient-iaudioclient2-getbuffersizelimits.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#476 Convert HTML to Markdown (PM_COLLECT_PROC)
  sdk-api-src/content/winperf/nc-winperf-pm_collect_proc.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#504 Fix IUnknown via the ID2D1TransformNode interface.
  sdk-api-src/content/d2d1effectauthor/nn-d2d1effectauthor-id2d1boundsadjustmenttransform.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#507 Update nn-shobjidl_core-iinitializewithwindow.md
  sdk-api-src/content/shobjidl_core/nn-shobjidl_core-iinitializewithwindow.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#508 Fix typos in the VirtualProtect address parameter
  sdk-api-src/content/memoryapi/nf-memoryapi-virtualprotect.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#506 Point out that MFT_PROCESS_OUTPUT_REGENERATE_LAST_OUTPUT flag is only…
  sdk-api-src/content/mftransform/ne-mftransform-_mft_process_output_flags.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#509 Remove misleading links from D3D12_TILE_REGION_SIZE
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_tile_region_size.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#511 nf-fileapi-getvolumepathnamew.md: Fix damaged page
  sdk-api-src/content/fileapi/nf-fileapi-getvolumepathnamew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#467 Clarify this function requires filesystem support
  sdk-api-src/content/fileapi/nf-fileapi-findfirststreamw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#492 Update nf-fileapi-findfirstfilea.md
  sdk-api-src/content/fileapi/nf-fileapi-findfirstfilea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#491 Update nf-fileapi-findfirstfileexa.md
  sdk-api-src/content/fileapi/nf-fileapi-findfirstfileexa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#490 Update nf-fileapi-findfirstfileexw.md
  sdk-api-src/content/fileapi/nf-fileapi-findfirstfileexw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#489 Update nf-fileapi-findfirstfilew.md
  sdk-api-src/content/fileapi/nf-fileapi-findfirstfilew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#510 Fixed copy-paste typo in NotifyRouteChange2
  sdk-api-src/content/netioapi/nf-netioapi-notifyroutechange2.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#512 Remove comment about Windows 8 from IApplicationAssociationRegistration page
  sdk-api-src/content/shobjidl_core/nf-shobjidl_core-iapplicationassociationregistration-querycurrentdefault.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#505 Update nn-oaidl-itypelib2.md
  sdk-api-src/content/oaidl/nn-oaidl-itypelib2.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#513 Fix D3D12_VIDEO_MOTION_ESTIMATOR_OUTPUT parameter type description
  sdk-api-src/content/d3d12video/ns-d3d12video-d3d12_video_motion_estimator_output.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#515 __uuidof(IDXGIDevice) is the preferred way to use this API
  sdk-api-src/content/dxgi/nf-dxgi-idxgiadapter-checkinterfacesupport.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#517 Add new Fast Reconnect related properties
  sdk-api-src/content/wtsprotocol/nf-wtsprotocol-iwrdsprotocolconnection-queryproperty.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#518 Add Idle Time warning property
  sdk-api-src/content/wtsprotocol/nf-wtsprotocol-iwrdsprotocolconnection-queryproperty.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#519 Add disable cursor blink property
  sdk-api-src/content/wtsprotocol/nf-wtsprotocol-iwrdsprotocolconnection-queryproperty.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#520 Fix simple typos in docs of IWICBitmap
  sdk-api-src/content/wincodec/nn-wincodec-iwicbitmap.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#521 Fix incorrect URL links
  sdk-api-src/content/shlwapi/nf-shlwapi-shgetvaluea.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shgetvaluew.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shqueryvalueexa.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shqueryvalueexw.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shreggetusvaluea.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shreggetusvaluew.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shreggetvaluea.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shreggetvaluew.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shregqueryusvaluea.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shregqueryusvaluew.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shregsetusvaluea.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shregsetusvaluew.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shregsetvalue.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shsetvaluea.md
  sdk-api-src/content/shlwapi/nf-shlwapi-shsetvaluew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#523 Clarify return value and use.
  sdk-api-src/content/windowsx/nf-windowsx-get_x_lparam.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#524 Clarify return value and use.
  sdk-api-src/content/windowsx/nf-windowsx-get_y_lparam.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#525 Escape a few backslashes
  sdk-api-src/content/authz/ns-authz-authz_rpc_init_info_client.md
  sdk-api-src/content/certbcli/nf-certbcli-certsrvbackupgetdatabasenamesw.md
  sdk-api-src/content/certcli/nf-certcli-icertrequest2-getcapropertydisplayname.md
  sdk-api-src/content/certcli/nf-certcli-icertrequest2-getcapropertyflags.md
  sdk-api-src/content/certcli/nf-certcli-icertrequest2-getissuedcertificate.md
  sdk-api-src/content/certcli/nf-certcli-icertrequest3-getissuedcertificate2.md
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_get_device_id_listw.md
  sdk-api-src/content/d2d1_1/nf-d2d1_1-id2d1devicecontext-settarget.md
  sdk-api-src/content/npapi/nf-npapi-nppropertydialog.md
  sdk-api-src/content/ntsecpkg/ne-ntsecpkg-secpkg_name_type.md
  sdk-api-src/content/p2p/nf-p2p-peercollabregisterapplication.md
  sdk-api-src/content/qmgr/ns-qmgr-filesetinfo.md
  sdk-api-src/content/shobjidl/nf-shobjidl-iquerycancelautoplay-allowautoplay.md
  sdk-api-src/content/tsuserex/nf-tsuserex-iadstsuserex-get_terminalservicesprofilepath.md
  sdk-api-src/content/tsuserex/nf-tsuserex-iadstsuserex-put_terminalservicesprofilepath.md
  sdk-api-src/content/vsmgmt/ns-vsmgmt-vss_diff_volume_prop.md
  sdk-api-src/content/wbemglue/nf-wbemglue-cwbemproviderglue-getinstancesbyquery(lpcwstr_trefpointercollection_cinstance__methodcontext_lpcwstr).md
  sdk-api-src/content/wbemglue/nf-wbemglue-cwbemproviderglue-getinstancesbyquery(lpcwstr_trefpointercollection_cinstance__methodcontext_lpcwstr)~r1.md
  sdk-api-src/content/wia_xp/ns-wia_xp-wia_dev_cap.md
  sdk-api-src/content/wincred/nf-wincred-credpackauthenticationbuffera.md
  sdk-api-src/content/wincred/nf-wincred-credpackauthenticationbufferw.md
  sdk-api-src/content/winsvc/ns-winsvc-query_service_configw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
