Repository MicrosoftDocs/sdk-api, pull requests merged in 2020-07, with the labels that each got.

#320 Fix documentation issues around Shader4ComponentMapping
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_shader_component_mapping.md
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_shader_resource_view_desc.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#349 WLAN_SET_EAPHOST_DATA_ALL_USERS.
  sdk-api-src/content/wlanapi/nf-wlanapi-wlansetprofileeapxmluserdata.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#348 WLAN_SET_EAPHOST_DATA_ALL_USERS
  sdk-api-src/content/wlanapi/nf-wlanapi-wlansetprofileeapuserdata.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#350 Add null functionality of D3D12CreateDevice
  sdk-api-src/content/d3d12/nf-d3d12-d3d12createdevice.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#352 Update ns-winuser-rid_device_info_keyboard.md
  sdk-api-src/content/winuser/ns-winuser-rid_device_info_keyboard.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#347 Add information on how to use RIDI_DEVICENAME...
  sdk-api-src/content/winuser/nf-winuser-getrawinputdeviceinfoa.md
  sdk-api-src/content/winuser/nf-winuser-getrawinputdeviceinfow.md
  sdk-api-src/content/winuser/ns-winuser-rawhid.md
  sdk-api-src/content/winuser/ns-winuser-rawinputdevice.md
  sdk-api-src/content/winuser/ns-winuser-rid_device_info.md
  sdk-api-src/content/winuser/ns-winuser-rid_device_info_hid.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#85 Update ns-ntsecapi-msv1_0_interactive_logon.md
  sdk-api-src/content/ntsecapi/ns-ntsecapi-msv1_0_interactive_logon.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#175 Updated the DataDirectory documentation
  sdk-api-src/content/winnt/ns-winnt-image_optional_header32.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#54 Add notes about SetDllDirectory having effect on children processes
  sdk-api-src/content/winbase/nf-winbase-setdlldirectorya.md
  sdk-api-src/content/winbase/nf-winbase-setdlldirectoryw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#176 Update pcchMaxUserName param of CredUnPackAuthenticationBufferW function
  sdk-api-src/content/wincred/nf-wincred-credunpackauthenticationbufferw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#177 Update UserName param of CredUIParseUserNameW function
  sdk-api-src/content/wincred/nf-wincred-creduiparseusernamew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#216 Update nf-wincrypt-cryptacquirecertificateprivatekey.md
  sdk-api-src/content/wincrypt/nf-wincrypt-cryptacquirecertificateprivatekey.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#279 Update nc-winsvc-lpservice_main_functiona.md
  sdk-api-src/content/winsvc/nc-winsvc-lpservice_main_functiona.md
  sdk-api-src/content/winsvc/nc-winsvc-lpservice_main_functionw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#354 Fix DML_TENSOR_DESC link
  sdk-api-src/content/directml/ns-directml-dml_tensor_desc.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#342 Fix the maximum buffer length of lpCommandLine of CreateProcess
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessa.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#362 Update ns-winuser-rawinputheader.md
  sdk-api-src/content/winuser/ns-winuser-rawinputheader.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#363 Update ns-winuser-rawinputdevice.md
  sdk-api-src/content/winuser/ns-winuser-rawinputdevice.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#353 Update ns-winuser-rawinputdevice.md
  sdk-api-src/content/winuser/ns-winuser-rawinputdevice.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#357 Escape a backslash for VerQueryValue(A|W)
  sdk-api-src/content/winver/nf-winver-verqueryvaluea.md
  sdk-api-src/content/winver/nf-winver-verqueryvaluew.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#359 Update ns-winuser-rawkeyboard.md
  sdk-api-src/content/winuser/ns-winuser-rawkeyboard.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#360 Fix BeginRenderPass links
  sdk-api-src/content/d3d12/nf-d3d12-id3d12graphicscommandlist4-beginrenderpass.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#361 Fix links in D3D12_RENDER_PASS_BEGINNING_ACCESS
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_render_pass_beginning_access.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#365 Update RegSetValueEx to link to RegSetKeyValue in see-also section
  sdk-api-src/content/winreg/nf-winreg-regsetvalueexa.md
  sdk-api-src/content/winreg/nf-winreg-regsetvalueexw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#366 Recommend using RegSetKeyValue in RegSetKeyValueEx
  sdk-api-src/content/winreg/nf-winreg-regsetvalueexa.md
  sdk-api-src/content/winreg/nf-winreg-regsetvalueexw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#330 Update nf-winnetwk-wnetaddconnection2a.md
  sdk-api-src/content/winnetwk/nf-winnetwk-wnetaddconnection2a.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#364 Update ns-winuser-rawkeyboard.md
  sdk-api-src/content/winuser/ns-winuser-rawkeyboard.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#367 Update nf-winbase-querydosdevicea.md
  sdk-api-src/content/winbase/nf-winbase-querydosdevicea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#356 typo
  sdk-api-src/content/winbase/nf-winbase-readeventloga.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#338 Fix InitializeSecurityContext link
  sdk-api-src/content/schannel/ns-schannel-secpkgcontext_connectioninfo.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#314 Correct link to Resource Types page in EnumResourceNamesA.
  sdk-api-src/content/winbase/nf-winbase-enumresourcenamesa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#334 Fix egregiously silly XML typos
  sdk-api-src/content/winbase/nf-winbase-registereventsourcew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#311 Leifboo
  sdk-api-src/content/winbase/nf-winbase-convertfibertothread.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#351 Update ns-ntddkbd-keyboard_attributes.md
  sdk-api-src/content/ntddkbd/ns-ntddkbd-keyboard_attributes.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#368 Fix reference to directory type enum value
  sdk-api-src/content/winsvc/nf-winsvc-getservicedirectory.md
Labels: do-not-merge

#370 Separate WinHTTP and HTTP.SYS categories
  sdk-api-src/content/_http/config.json
  sdk-api-src/content/_http/index.md
  sdk-api-src/content/_winhttp/config.json
  sdk-api-src/content/_winhttp/index.md
  sdk-api-src/content/_wininet/index.md
  sdk-api-src/content/http/index.md
  sdk-api-src/content/index.yml
  sdk-api-src/content/winhttp/index.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#169 VirtualFree/dwFreeType values are bit-flags, not enumerated
  sdk-api-src/content/memoryapi/nf-memoryapi-virtualfree.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#188 Update nf-psapi-getmappedfilenamea.md
  sdk-api-src/content/psapi/nf-psapi-getmappedfilenamea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#202 Fixed illustration of in-memory format of environment strings.
  sdk-api-src/content/processenv/nf-processenv-getenvironmentstrings.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#369 Update nf-winsvc-getservicedisplaynamea.md
  sdk-api-src/content/winsvc/nf-winsvc-getservicedisplaynamea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#371 Fix broken formatting
  sdk-api-src/content/wow64apiset/nf-wow64apiset-wow64disablewow64fsredirection.md
  sdk-api-src/content/wow64apiset/nf-wow64apiset-wow64revertwow64fsredirection.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#313 Fix Algid parameter description for CryptHashPublicKeyInfo
  sdk-api-src/content/wincrypt/nf-wincrypt-crypthashpublickeyinfo.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#376 Update ne-shobjidl_core-default_folder_menu_restrictions.md
  sdk-api-src/content/shobjidl_core/ne-shobjidl_core-default_folder_menu_restrictions.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#375 Fixed formatting.
  sdk-api-src/content/processthreadsapi/ns-processthreadsapi-startupinfoa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#373 Update GetCommandLineA/W, don't free the result, simplify description of alternatives
  sdk-api-src/content/processenv/nf-processenv-getcommandlinea.md
  sdk-api-src/content/processenv/nf-processenv-getcommandlinew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#377 Fix header level
  sdk-api-src/content/d2d1svg/nf-d2d1svg-id2d1svgelement-getattributevalue(pcwstr_d2d1_svg_attribute_string_type_pwstr_uint32).md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#378 Update nf-wininet-httpsendrequesta.md
  sdk-api-src/content/wininet/nf-wininet-httpsendrequesta.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#380 Fix typo
  sdk-api-src/content/shellscalingapi/ne-shellscalingapi-scale_change_flags.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#379 Fix a typo in nn-shobjidl_core-ifileisinuse.md
  sdk-api-src/content/shobjidl_core/nn-shobjidl_core-ifileisinuse.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#245 IDesktopWallpaper::GetSlideshow has wrong description!
  sdk-api-src/content/shobjidl_core/nf-shobjidl_core-idesktopwallpaper-getslideshow.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#382 fix small typo in UpdateProcThreadAttribute
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-updateprocthreadattribute.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#374 Make sure __cdecl is not missed.
  sdk-api-src/content/winnt/nf-winnt-rtlrestorecontext.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#383 Fix broken link in ID3D12Device5::EnumerateMetaCommands
  sdk-api-src/content/d3d12/nf-d3d12-id3d12device5-enumeratemetacommands.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
