Repository MicrosoftDocs/sdk-api, pull requests merged in 2021-12, with the labels that each got.

#986 Add info about array delimiter for D3D compilation
  sdk-api-src/content/d3dcompiler/nf-d3dcompiler-d3dcompile.md
  sdk-api-src/content/d3dcompiler/nf-d3dcompiler-d3dcompile2.md
  sdk-api-src/content/d3dcompiler/nf-d3dcompiler-d3dcompilefromfile.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#983 [OfferVirtualMemory] fix incorrect OFFER_PRIORITY enum values
  sdk-api-src/content/memoryapi/nf-memoryapi-offervirtualmemory.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#982 [CreateFileMappingW] combining flProtect SEC_ flags
  sdk-api-src/content/memoryapi/nf-memoryapi-createfilemappingw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#980 Update nf-evntrace-controltracew.md
  sdk-api-src/content/evntrace/nf-evntrace-controltracew.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#985 Fixing a few problematic yaml headers
  sdk-api-src/content/aviriff/ns-aviriff-avistreamheader.md
  sdk-api-src/content/bdaiface/nf-bdaiface-ibda_dridrmservice-getpairingstatus.md
  sdk-api-src/content/d3d12video/ns-d3d12video-d3d12_video_encoder_level_tier_constraints_hevc.md
  sdk-api-src/content/d3dcommon/nn-d3dcommon-id3ddestructionotifier.md
  sdk-api-src/content/diagnosticdataquery/nf-diagnosticdataquery-ddqgetdiagnosticrecordlocaletags.md
  sdk-api-src/content/ras/nf-ras-rasvalidateentrynamew.md
  sdk-api-src/content/shobjidl_core/nf-shobjidl_core-idesktopwallpaper-getslideshow.md
  sdk-api-src/content/winhttp/nf-winhttp-winhttpreaddataex.md
  sdk-api-src/content/winternl/nf-winternl-ntwaitforsingleobject.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, windows/prod

#914 Fix documentation for CfReleaseProtectedHandle
  sdk-api-src/content/cfapi/nf-cfapi-cfreferenceprotectedhandle.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#909 Describe long path behaviour of `GetFullPathName`
  sdk-api-src/content/fileapi/nf-fileapi-getfullpathnamea.md
  sdk-api-src/content/fileapi/nf-fileapi-getfullpathnamew.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#899 Add remark about PrivateExponent
  sdk-api-src/content/bcrypt/ns-bcrypt-bcrypt_rsakey_blob.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#987 Correct minimum supported Build
  sdk-api-src/content/mfidl/nn-mfidl-imfextendedcameracontroller.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#967 Update nf-mfidl-imfcameraocclusionstatereportcallback-onocclusionstat…
  sdk-api-src/content/mfidl/nf-mfidl-imfcameraocclusionstatereportcallback-onocclusionstatereport.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#989 Update nf-d3d12-d3d12serializerootsignature.md
  sdk-api-src/content/d3d12/nf-d3d12-d3d12serializerootsignature.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#990 Update nf-d3d12-d3d12serializeversionedrootsignature.md
  sdk-api-src/content/d3d12/nf-d3d12-d3d12serializeversionedrootsignature.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#991 Update ns-d3d12-d3d12_root_signature_desc.md
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_root_signature_desc.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#976 Update nf-ntdsapi-dsgetspna.md
  sdk-api-src/content/ntdsapi/nf-ntdsapi-dsgetspna.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#988 Multigroup affinities - Update usermode affinity API docs
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getprocessdefaultcpusetmasks.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getthreadselectedcpusetmasks.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setprocessdefaultcpusetmasks.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setthreadidealprocessor.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setthreadidealprocessorex.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setthreadselectedcpusetmasks.md
  sdk-api-src/content/processtopologyapi/nf-processtopologyapi-getprocessgroupaffinity.md
  sdk-api-src/content/processtopologyapi/nf-processtopologyapi-getthreadgroupaffinity.md
  sdk-api-src/content/processtopologyapi/nf-processtopologyapi-setthreadgroupaffinity.md
  sdk-api-src/content/winbase/nf-winbase-getprocessaffinitymask.md
  sdk-api-src/content/winbase/nf-winbase-setprocessaffinitymask.md
  sdk-api-src/content/winbase/nf-winbase-setthreadaffinitymask.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#975 Update nf-winuser-getrawinputbuffer.md
  sdk-api-src/content/winuser/nf-winuser-getrawinputbuffer.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#999 D3D12_TEXTURE_LAYOUT - fix weird extra line breaks
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_texture_layout.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod
