Repository MicrosoftDocs/sdk-api, pull requests merged in 2021-04, with the labels that each got.

#727 Simplify parameter description
  sdk-api-src/content/dxgidebug/nf-dxgidebug-idxgiinfoqueue-getmessage.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#728 Update example for GetMessage::IDXGIInfoQueue()
  sdk-api-src/content/dxgidebug/nf-dxgidebug-idxgiinfoqueue-getmessage.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#731 Typo
  sdk-api-src/content/shellapi/nf-shellapi-shell_notifyicona.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#738 Add URI fragment to link
  sdk-api-src/content/winhttp/nf-winhttp-winhttpreaddata.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#737 Update ns-minwinbase-debug_event.md
  sdk-api-src/content/minwinbase/ns-minwinbase-debug_event.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#730 Update XPS_GLYPH_MAPPING link.
  sdk-api-src/content/xpsobjectmodel/nf-xpsobjectmodel-ixpsomglyphseditor-setglyphmappings.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#742 Typo fix
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_pipeline_state_subobject_type.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#735 Update nf-processenv-getenvironmentstringsw.md
  sdk-api-src/content/processenv/nf-processenv-getenvironmentstringsw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#739 Add missing link.
  sdk-api-src/content/winuser/nf-winuser-updatelayeredwindow.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#744 Update ns-d3d12-d3d12_box.md
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_box.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#746 Update API doc for SystemParametersInfoA/SystemParemetersInfoW on SPI_SETTHREADLOCALINPUTSETTINGS parameter
  sdk-api-src/content/winuser/nf-winuser-systemparametersinfoa.md
  sdk-api-src/content/winuser/nf-winuser-systemparametersinfow.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#694 Update BCrypt DSA structure documentation
  sdk-api-src/content/bcrypt/nf-bcrypt-bcryptgeneratekeypair.md
  sdk-api-src/content/bcrypt/ns-bcrypt-bcrypt_dsa_key_blob.md
  sdk-api-src/content/bcrypt/ns-bcrypt-bcrypt_dsa_key_blob_v2.md
  sdk-api-src/content/bcrypt/ns-bcrypt-bcrypt_dsa_parameter_header.md
  sdk-api-src/content/bcrypt/ns-bcrypt-bcrypt_dsa_parameter_header_v2.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#723 Fix line wrapping
  sdk-api-src/content/winuser/nf-winuser-loadimagew.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#747 Update code sample in MSDN, previous code no longer worked
  sdk-api-src/content/winuser/nf-winuser-sendinput.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#748 Example code for DXGI_HDR_METADATA_HDR10 MaxMasteringLuminance is wrong
  sdk-api-src/content/dxgi1_5/ns-dxgi1_5-dxgi_hdr_metadata_hdr10.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#703 Fix SCH_DISABLE_RECONNECTS to SCH_CRED_DISABLE_RECONNECTS
  sdk-api-src/content/schannel/ns-schannel-sch_credentials.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#749 add info about memory priority to ITaskSettings::put_Prioirty
  sdk-api-src/content/taskschd/nf-taskschd-itasksettings-put_priority.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#754 Fix name of ROOT_PARAMETER field to ParameterType
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_root_descriptor.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#736 fix backslash-issue
  sdk-api-src/content/shlobj_core/nf-shlobj_core-shgetfolderpatha.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, windows/prod

#677 Update nf-winbase-createprocesswithtokenw.md
  sdk-api-src/content/winbase/nf-winbase-createprocesswithtokenw.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#636 Update nf-sddl-convertsecuritydescriptortostringsecuritydescriptorw.md
  sdk-api-src/content/sddl/nf-sddl-convertsecuritydescriptortostringsecuritydescriptorw.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#696 MapVirtualKey[Ex]: sort MAPVK_* flags by value.
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeya.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeyexa.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeyexw.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeyw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#725 Update nf-winldap-ldap_set_option.md
  sdk-api-src/content/winldap/nf-winldap-ldap_set_option.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#729 Update ns-wtypes-cy~r1.md - typo in the text
  sdk-api-src/content/wtypes/ns-wtypes-cy~r1.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#733 Update ni-winioctl-fsctl_unlock_volume.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_unlock_volume.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#416 Add DependentLoadFlags description.
  sdk-api-src/content/winnt/ns-winnt-image_load_config_directory64.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#631 CreateProcessApis: Fixed creation flags meaning of 0 for two of the process creation APIs
  sdk-api-src/content/winbase/nf-winbase-createprocesswithlogonw.md
  sdk-api-src/content/winbase/nf-winbase-createprocesswithtokenw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#697 Update WinVerifyTrustEx docs, note return value is a Win32 error code, not HRESULT
  sdk-api-src/content/wintrust/nf-wintrust-winverifytrustex.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#755 fix typo
  sdk-api-src/content/dhcpsapi/nf-dhcpsapi-dhcpenumsubnets.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#745 Update nf-ncrypt-ncryptsetproperty.md
  sdk-api-src/content/ncrypt/nf-ncrypt-ncryptsetproperty.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#753 TIMERPROC fix unnamed parameters
  sdk-api-src/content/winuser/nc-winuser-timerproc.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#478 Update nf-wingdi-createpen.md
  sdk-api-src/content/wingdi/nf-wingdi-createpen.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#493 Process value add
  sdk-api-src/content/wingdi/ns-wingdi-pixelformatdescriptor.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#546 Restore ControlService(Ex) service state behavior descriptions
  sdk-api-src/content/winsvc/nf-winsvc-controlservice.md
  sdk-api-src/content/winsvc/nf-winsvc-controlserviceexa.md
  sdk-api-src/content/winsvc/nf-winsvc-controlserviceexw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#711 LoadKeyboardLayout(): Returns NULL when the library is loaded from the wrong directory
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayouta.md
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayoutw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#662 Fix links on ICoreInputInterop
  sdk-api-src/content/corewindow/nn-corewindow-icoreinputinterop.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#719 Document MiniDumpWithAvxXStateContext, MiniDumpWithIptTrace, and MiniDumpScanInaccessiblePartialPages.
  sdk-api-src/content/minidumpapiset/ne-minidumpapiset-minidump_type.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#743 RAWMOUSE: Sort usButtonFlags RI_MOUSE_* flags by value. Merge cells with same value.
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
