Repository MicrosoftDocs/sdk-api, pull requests merged in 2021-02, with the labels that each got.

#651 SwitchToThread() return value is retrospective
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-switchtothread.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#654 Convert MapVirtualKeyW/MapVirtualKeyA/MapVirtualKeyExW/MapVirtualKeyExA to Markdown
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeya.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeyexa.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeyexw.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeyw.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#655 Better wording for GetRawInputBuffer()
  sdk-api-src/content/winuser/nf-winuser-getrawinputbuffer.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#653 ExtFloodFill documentation refers to "color" parameter as "crColor."
  sdk-api-src/content/wingdi/nf-wingdi-extfloodfill.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#652 Gdi FloodFill() documentation refers to the last parameter as crFill …
  sdk-api-src/content/wingdi/nf-wingdi-floodfill.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#656 LOAD_LIBRARY_DEFAULT_DIRS is a wrong name
  sdk-api-src/content/libloaderapi/nf-libloaderapi-loadlibraryexa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#658 Fix typo
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_render_pass_tier.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#659 Update EvtCreateRenderContext docs with observed behavior
  sdk-api-src/content/winevt/nf-winevt-evtcreaterendercontext.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#663 Incorrect IStream inheritance
  sdk-api-src/content/objidl/nn-objidl-istream.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#664 Update nf-shlobj_core-shgetfolderpathw.md
  sdk-api-src/content/shlobj_core/nf-shlobj_core-shgetfolderpathw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#641 Update CIMFS documentation
  sdk-api-src/content/_cimfs/index.md
  sdk-api-src/content/cimfs/ne-cimfs-cim_mount_image_flags.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech, windows-sdk/tech, windows/prod

#668 Fix typo
  sdk-api-src/content/mstcpip/ns-mstcpip-socket_peer_target_name.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#669 Update ResolveQueryData with info about resolving uninitialized queries
  sdk-api-src/content/d3d12/nf-d3d12-id3d12graphicscommandlist-resolvequerydata.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#670 Update nf-d3d12-id3d12graphicscommandlist-setpredication.md
  sdk-api-src/content/d3d12/nf-d3d12-id3d12graphicscommandlist-setpredication.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#671 Update nf-directxmath-xmmatrixperspectivefovrh.md
  sdk-api-src/content/directxmath/nf-directxmath-xmmatrixperspectivefovlh.md
  sdk-api-src/content/directxmath/nf-directxmath-xmmatrixperspectivefovrh.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#666 Update nf-winuser-setfocus.md
  sdk-api-src/content/winuser/nf-winuser-setfocus.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#667 Add missing spaces
  sdk-api-src/content/winsock2/nf-winsock2-inet_addr.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#665 Update ni-winioctl-fsctl_read_usn_journal.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_read_usn_journal.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#661 Fix ICoreWindowInterop page
  sdk-api-src/content/corewindow/nn-corewindow-icorewindowinterop.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#672 Add remarks on TerminateProcess for already terminated processes
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-terminateprocess.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#674 Add link to D3D12_STATE_SUBOBJECT_TYPE docs
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_state_subobject.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#673 Update link to D3D12_STATE_SUBOBJECT
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_state_subobject_type.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#675 Add links to raytracing and renderpass tier enums
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_feature_data_d3d12_options5.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#678 Fix string corruption
  sdk-api-src/content/objidl/nn-objidl-iglobalinterfacetable.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#644 Update ns-diagnosticdataquerytypes-diagnostic_report_data.md
  sdk-api-src/content/diagnosticdataquerytypes/ns-diagnosticdataquerytypes-diagnostic_report_data.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#625 Update nf-keycredmgr-keycredentialmanagershowuioperation.md
  sdk-api-src/content/keycredmgr/nf-keycredmgr-keycredentialmanagershowuioperation.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#617 Feedback received after PR 598
  sdk-api-src/content/cfapi/nf-cfapi-cfcreateplaceholders.md
  sdk-api-src/content/cfapi/ns-cfapi-cf_placeholder_create_info.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#587 Update nf-fileapi-getvolumepathnamew.md
  sdk-api-src/content/fileapi/nf-fileapi-getvolumepathnamew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#582 Update nf-cfapi-cfsetinsyncstate.md A parameter does not work as documented
  sdk-api-src/content/cfapi/nf-cfapi-cfsetinsyncstate.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#676 Update nf-wingdi-setdevicegammaramp.md
  sdk-api-src/content/wingdi/nf-wingdi-setdevicegammaramp.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#682 Fix typo
  sdk-api-src/content/websocket/nf-websocket-websocketendclienthandshake.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#684 Update nf-apiquery2-isapisetimplemented.md
  sdk-api-src/content/apiquery2/nf-apiquery2-isapisetimplemented.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#639 Add info on Keyboard Type values from RID_DEVICE_INFO_KEYBOARD/KEYBOARD_ATTRIBUTES/GetKeyboardType()
  sdk-api-src/content/ntddkbd/ns-ntddkbd-keyboard_attributes.md
  sdk-api-src/content/winuser/nf-winuser-getkeyboardtype.md
  sdk-api-src/content/winuser/ns-winuser-rid_device_info_keyboard.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#683 Document timer resolution behavior changes in 2004
  sdk-api-src/content/timeapi/nf-timeapi-timebeginperiod.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#686 Fix broken link to SIO_TCP_INFO page
  sdk-api-src/content/mstcpip/ns-mstcpip-tcp_info_v0.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#685 Fix typo
  sdk-api-src/content/mstcpip/ns-mstcpip-socket_security_settings.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#687 Document PROC_THREAD_ATTRIBUTE_JOB_LIST
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-updateprocthreadattribute.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#689 Remove new line
  sdk-api-src/content/winhttp/ne-winhttp-winhttp_web_socket_close_status.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#688 Add missing comment for enum value
  sdk-api-src/content/winhttp/ne-winhttp-winhttp_web_socket_close_status.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
