Repository MicrosoftDocs/sdk-api, pull requests merged in 2021-07, with the labels that each got.

#770 Update ns-winuser-rawmouse.md
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#822 Fix typo in ID3D12Device CreateCommandList docs
  sdk-api-src/content/d3d12/nf-d3d12-id3d12device-createcommandlist.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#821 DML_CONVOLUTION_MODE_CONVOLUTION clarity
  sdk-api-src/content/directml/ne-directml-dml_convolution_mode.md
  sdk-api-src/content/directml/ns-directml-dml_convolution_operator_desc.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#831 Corrected some broken and abs links
  sdk-api-src/content/efswrtinterop/nf-efswrtinterop-iprotectionpolicymanagerinterop-requestaccessforwindowasync.md
  sdk-api-src/content/efswrtinterop/nf-efswrtinterop-iprotectionpolicymanagerinterop2-requestaccessforappwithmessageforwindowasync.md
  sdk-api-src/content/efswrtinterop/nf-efswrtinterop-iprotectionpolicymanagerinterop2-requestaccessforappwithwindowasync.md
  sdk-api-src/content/efswrtinterop/nf-efswrtinterop-iprotectionpolicymanagerinterop2-requestaccesswithauditinginfoforwindowasync.md
  sdk-api-src/content/efswrtinterop/nf-efswrtinterop-iprotectionpolicymanagerinterop2-requestaccesswithmessageforwindowasync.md
  sdk-api-src/content/faxcomex/nn-faxcomex-ifaxinboundroutingextension.md
  sdk-api-src/content/msclus/nn-msclus-iscluspartitionex.md
  sdk-api-src/content/wabapi/ns-wabapi-wabextdisplay.md
  sdk-api-src/content/wabdefs/ns-wabdefs-adrparm.md
Labels: do-not-merge

#799 Clarify alignment requirements for MapViewOfFile3
  sdk-api-src/content/memoryapi/nf-memoryapi-mapviewoffile3.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#832 QoS API Updates and Timer Resolution changes
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setprocessinformation.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setthreadinformation.md
  sdk-api-src/content/timeapi/nf-timeapi-timebeginperiod.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#837 Update ExtTextOut and PolyTextOut to clarify international script support and performance
  sdk-api-src/content/wingdi/nf-wingdi-exttextouta.md
  sdk-api-src/content/wingdi/nf-wingdi-exttextoutw.md
  sdk-api-src/content/wingdi/nf-wingdi-polytextouta.md
  sdk-api-src/content/wingdi/nf-wingdi-polytextoutw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#834 Update obsolete info in Unmap
  sdk-api-src/content/d3d12/nf-d3d12-id3d12resource-unmap.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#833 Added missing root signature flags
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_root_signature_flags.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#843 Document alignment of HeapReAlloc.
  sdk-api-src/content/heapapi/nf-heapapi-heaprealloc.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#842 Document alignment of HeapAlloc.
  sdk-api-src/content/heapapi/nf-heapapi-heapalloc.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#827 Fixed D2D1_LAYER_PARAMETERS contentBounds description
  sdk-api-src/content/d2d1/ns-d2d1-d2d1_layer_parameters.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#844 Specify that ITfLangBarItemMgr::AddItem can be ignored
  sdk-api-src/content/ctfutb/nf-ctfutb-itflangbaritem-getinfo.md
  sdk-api-src/content/ctfutb/nf-ctfutb-itflangbaritemmgr-additem.md
  sdk-api-src/content/ctfutb/ns-ctfutb-tf_langbariteminfo.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#839 Update ne-minidumpapiset-minidump_type.md
  sdk-api-src/content/minidumpapiset/ne-minidumpapiset-minidump_type.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#847 fix syntax
  sdk-api-src/content/physicalmonitorenumerationapi/nf-physicalmonitorenumerationapi-getphysicalmonitorsfromhmonitor.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#848 Update nf-d3d12-id3d12device-getresourceallocationinfo.md
  sdk-api-src/content/d3d12/nf-d3d12-id3d12device-getresourceallocationinfo.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#849 Update nf-dcomp-idcompositionfiltereffect-setinput.md
  sdk-api-src/content/dcomp/nf-dcomp-idcompositionfiltereffect-setinput.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#809 Update ns-winscard-scard_readerstatew.md
  sdk-api-src/content/winscard/ns-winscard-scard_readerstatew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#808 Update ns-winscard-scard_readerstatea.md
  sdk-api-src/content/winscard/ns-winscard-scard_readerstatea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#774 Update ns-sspi-securityfunctiontablew.md
  sdk-api-src/content/sspi/ns-sspi-securityfunctiontablew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#773 Update nf-sspi-initsecurityinterfacea.md
  sdk-api-src/content/sspi/nf-sspi-initsecurityinterfacea.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#756 Specify URL fragment for link
  sdk-api-src/content/winbase/nf-winbase-createfilemappinga.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#851 Typo in wprintf
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getthreaddescription.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#771 Note where 'Current User' should not be used
  sdk-api-src/content/icm/nf-icm-wcssetdefaultcolorprofile.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#846 Correct spacing characters
  sdk-api-src/content/synchapi/nf-synchapi-sleep.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#852 Update VertexFormat requirements for DXR Tier 1.1
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_raytracing_geometry_triangles_desc.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#853 Update nf-dxgi-idxgiswapchain-getframestatistics.md
  sdk-api-src/content/dxgi/nf-dxgi-idxgiswapchain-getframestatistics.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#835 A reference should be added for linking with cimfs.lib
  sdk-api-src/content/cimfs/index.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, windows/prod

#836 Add reference to the need to link with cimfs.lib
  sdk-api-src/content/_cimfs/index.md
Labels: Change sent to author, do-not-merge, windows/prod, windows/tech

#854 Clarify preferredLocaleNames parameter.
  sdk-api-src/content/dwrite_3/nf-dwrite_3-idwritefontset-getpropertyvalues(dwrite_font_property_id_wcharconst_idwritestringlist).md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#857 Fix field name of D3D12_ROOT_PARAMETER.
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_root_descriptor_table.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#856 Document GetLastError for ShellExecute
  sdk-api-src/content/shellapi/nf-shellapi-shellexecutea.md
  sdk-api-src/content/shellapi/nf-shellapi-shellexecutew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#855 Separate predefined key list with commas
  sdk-api-src/content/winreg/nf-winreg-regoverridepredefkey.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
