Repository MicrosoftDocs/sdk-api, pull requests merged in 2021-01, with the labels that each got.

#614 Fix SHAppBarMessage links
  sdk-api-src/content/shellapi/nf-shellapi-shappbarmessage.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#613 Clarify DuplicateHandle regarding DUPLICATE_CLOSE_SOURCE
  sdk-api-src/content/handleapi/nf-handleapi-duplicatehandle.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#610 Enable passing NULL to HeapFree
  sdk-api-src/content/heapapi/nf-heapapi-heapfree.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#607 WaitForMultipleObjects: Clearer explanation of ret val when wait all is specified
  sdk-api-src/content/synchapi/nf-synchapi-waitformultipleobjects.md
  sdk-api-src/content/winuser/nf-winuser-msgwaitformultipleobjects.md
  sdk-api-src/content/winuser/nf-winuser-msgwaitformultipleobjectsex.md
Labels: Change sent to author, desktop/prod, ready-to-merge, sdk-api-reference/tech

#605 Fix return code description of RtlUnicodeStringToAnsiString
  sdk-api-src/content/winternl/nf-winternl-rtlunicodestringtoansistring.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#609 Printf typo supressing variable output
  sdk-api-src/content/iptypes/ns-iptypes-ip_adapter_info.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#611 Update nf-directml-idmlobject-getprivatedata.md
  sdk-api-src/content/directml/nf-directml-idmlobject-getprivatedata.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#612 Fix "Direction Composition" typo
  sdk-api-src/content/dcomp/nn-dcomp-idcompositionfiltereffect.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#604 Link replacement for IsProcessDPIAware
  sdk-api-src/content/winuser/nf-winuser-isprocessdpiaware.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#615 Fix table rendering
  sdk-api-src/content/winuser/nf-winuser-changedisplaysettingsa.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#608 Explain dwData correctly
  sdk-api-src/content/winuser/ns-winuser-copydatastruct.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#600 Update nf-commctrl-loadiconmetric.md
  sdk-api-src/content/commctrl/nf-commctrl-loadiconmetric.md
Labels: Change sent to author, desktop/prod, sdk-api-reference/tech

#598 Clarify RelativeFileName after kb4592449 fix
  sdk-api-src/content/cfapi/nf-cfapi-cfcreateplaceholders.md
  sdk-api-src/content/cfapi/ns-cfapi-cf_placeholder_create_info.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#591 Fix typo
  sdk-api-src/content/clusapi/nf-clusapi-getclusternodeid.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#602 Update nf-processthreadsapi-openprocess.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-openprocess.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#619 Fix typo
  sdk-api-src/content/d2d1effects_2/ne-d2d1effects_2-d2d1_temperatureandtint_prop.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#594 Fix typo
  sdk-api-src/content/memoryapi/nf-memoryapi-createfilemapping2.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#589 Update nf-synchapi-createeventa.md
  sdk-api-src/content/synchapi/nf-synchapi-createeventa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#620 Fix dead link to "Native 802.11 Operation Modes"
  sdk-api-src/content/wlanapi/nf-wlanapi-wlansetinterface.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#621 Add another scenario for when a DXGI_ERROR_INVALID_CALL is returned
  sdk-api-src/content/dxgi1_2/nf-dxgi1_2-idxgifactory2-createswapchainforhwnd.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#626 Clarify that TerminateProcess is not "asynchronous" when the process terminates itself.
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-terminateprocess.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#628 format the table for better user experience
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_resource_flags.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#592 CreateProcess: Make clear what happens when 0 is passed in the creation flags
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessa.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessasusera.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessasuserw.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessw.md
  sdk-api-src/content/winbase/nf-winbase-createprocesswithlogonw.md
  sdk-api-src/content/winbase/nf-winbase-createprocesswithtokenw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#528 Update ni-winioctl-fsctl_lock_volume.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_lock_volume.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#632 WaitForMultipleApis: Added more clear explanation for abandoned ret vals
  sdk-api-src/content/synchapi/nf-synchapi-waitformultipleobjects.md
  sdk-api-src/content/winuser/nf-winuser-msgwaitformultipleobjects.md
  sdk-api-src/content/winuser/nf-winuser-msgwaitformultipleobjectsex.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#637 Added critical note to D3D12 UMA architectural overview
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_feature_data_architecture1.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#640 Update nf-winnls-getlocaleinfoa.md
  sdk-api-src/content/winnls/nf-winnls-getlocaleinfoa.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#642 Update nf-synchapi-createmutexw.md
  sdk-api-src/content/synchapi/nf-synchapi-createmutexw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#645 Fix a link in DoEnvironmentSubstA pointing to wrong place
  sdk-api-src/content/shellapi/nf-shellapi-doenvironmentsubsta.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#647 GetThreadContext's CONTEXT is generic, not necessarily ARM64_NT
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getthreadcontext.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#643 Escape JobObject API backslashes
  sdk-api-src/content/jobapi2/nf-jobapi2-createjobobjectw.md
  sdk-api-src/content/jobapi2/nf-jobapi2-openjobobjectw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#618 Add ConnectEx links to Connect and WSAConnect
  sdk-api-src/content/winsock2/nf-winsock2-connect.md
  sdk-api-src/content/winsock2/nf-winsock2-wsaconnect.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#646 Document select FD_* macros
  sdk-api-src/content/winsock2/nf-winsock2-select.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#606 Corrections to MI_ClassDecl
  sdk-api-src/content/mi/ns-mi-mi_classdecl.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#648 Fix formatting in ITaskbarList3::SetProgressValue
  sdk-api-src/content/shobjidl_core/nf-shobjidl_core-itaskbarlist3-setprogressvalue.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#650 Don't break paragraphs mid-sentence
  sdk-api-src/content/stringapiset/nf-stringapiset-widechartomultibyte.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#635 Remove mid-sentence paragraph breaks
  sdk-api-src/content/winbase/nf-winbase-endupdateresourcea.md
  sdk-api-src/content/winbase/nf-winbase-endupdateresourcew.md
  sdk-api-src/content/winbase/nf-winbase-enumresourcelanguagesa.md
  sdk-api-src/content/winbase/nf-winbase-enumresourcelanguagesw.md
  sdk-api-src/content/winbase/nf-winbase-lstrcmpa.md
  sdk-api-src/content/winbase/nf-winbase-lstrcmpia.md
  sdk-api-src/content/winbase/nf-winbase-lstrcmpiw.md
  sdk-api-src/content/winbase/nf-winbase-lstrcmpw.md
  sdk-api-src/content/winbase/nf-winbase-updateresourcea.md
  sdk-api-src/content/winbase/nf-winbase-updateresourcew.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#649 Clarify GetRawInputBuffer() usage
  sdk-api-src/content/winuser/nf-winuser-getrawinputbuffer.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#623 Update ns-winuser-rid_device_info_mouse.md
  sdk-api-src/content/winuser/ns-winuser-rid_device_info_mouse.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#630 Fix incorrect parameter name in InsertMenuItem[AW]
  sdk-api-src/content/winuser/nf-winuser-insertmenuitema.md
  sdk-api-src/content/winuser/nf-winuser-insertmenuitemw.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech
