Repository MicrosoftDocs/sdk-api, pull requests merged in 2022-01, with the labels that each got.

#1012 Update ne-objidl-tymed.md
  sdk-api-src/content/objidl/ne-objidl-tymed.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1011 UDP typo
  sdk-api-src/content/winsock/nf-winsock-sendto.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1004 Add HID module descriptions from corresponding header files.
  sdk-api-src/content/dinput/index.md
  sdk-api-src/content/dinputd/index.md
  sdk-api-src/content/mmddk/index.md
  sdk-api-src/content/ntddkbd/index.md
  sdk-api-src/content/ntddmou/index.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1019 Update nf-winuser-getrawinputdevicelist.md
  sdk-api-src/content/winuser/nf-winuser-getrawinputdevicelist.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod, review-team-triage

#1003 Add SecondaryTile to IInitializeWithWindow APIs
  sdk-api-src/content/shobjidl_core/nn-shobjidl_core-iinitializewithwindow.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1023 Fixed pos-tbuild typo
  sdk-api-src/content/d3d12/nf-d3d12-id3d12graphicscommandlist4-emitraytracingaccelerationstructurepostbuildinfo.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1025 Clarifying remarks about pitch, yaw, and roll
  sdk-api-src/content/directxmath/nf-directxmath-xmmatrixrotationrollpitchyaw.md
  sdk-api-src/content/directxmath/nf-directxmath-xmmatrixrotationrollpitchyawfromvector.md
  sdk-api-src/content/directxmath/nf-directxmath-xmquaternionrotationrollpitchyaw.md
  sdk-api-src/content/directxmath/nf-directxmath-xmquaternionrotationrollpitchyawfromvector.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1024 Update nf-winuser-getrawinputdevicelist.md
  sdk-api-src/content/winuser/nf-winuser-getrawinputdevicelist.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1027 Improve accuracy of wording
  sdk-api-src/content/winuser/nf-winuser-peekmessagea.md
  sdk-api-src/content/winuser/nf-winuser-peekmessagew.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod, review-team-triage

#1030 Update nf-sysinfoapi-getproductinfo.md
  sdk-api-src/content/sysinfoapi/nf-sysinfoapi-getproductinfo.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1036 Link between ShellExecute and CreateProcess
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessa.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessw.md
  sdk-api-src/content/shellapi/nf-shellapi-shellexecutea.md
  sdk-api-src/content/shellapi/nf-shellapi-shellexecutew.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1020 Update nf-winternl-ntopenfile.md
  sdk-api-src/content/winternl/nf-winternl-ntopenfile.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#993 Update nf-memoryapi-mapviewoffile2.md
  sdk-api-src/content/memoryapi/nf-memoryapi-mapviewoffile2.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#998 Update nf-sysinfoapi-getnativesysteminfo.md
  sdk-api-src/content/sysinfoapi/nf-sysinfoapi-getnativesysteminfo.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1001 Fix inaccuracy regarding LastErrorCode in GetModuleFileName documentation
  sdk-api-src/content/libloaderapi/nf-libloaderapi-getmodulefilenamew.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1009 Link CD-ROM control codes
  sdk-api-src/content/ioapiset/nf-ioapiset-deviceiocontrol.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1013 Fix double the in the PF_ARM_V8_INSTRUCTIONS_AVAILABLE description
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-isprocessorfeaturepresent.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1016 Update ns-winioctl-find_by_sid_output.md
  sdk-api-src/content/winioctl/ns-winioctl-find_by_sid_output.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1031 update the _SECPKG_FUNCTION_TABLE
  sdk-api-src/content/ntsecpkg/ns-ntsecpkg-secpkg_function_table.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#1042 Update time unit for RtwqSetDeadline and RtwqSetDeadline2
  sdk-api-src/content/rtworkq/nf-rtworkq-rtwqsetdeadline.md
  sdk-api-src/content/rtworkq/nf-rtworkq-rtwqsetdeadline2.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1022 Update nf-winreg-regrenamekey.md
  sdk-api-src/content/winreg/nf-winreg-regrenamekey.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech
