Repository MicrosoftDocs/sdk-api, pull requests merged in 2022-08, with the labels that each got.

#1258 Update Create Enclave documentation to add notes on enclave size
  sdk-api-src/content/enclaveapi/nf-enclaveapi-createenclave.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1253 Removing the word network to improve applicability
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-transactnamedpipe.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1260 Update nc-fwpmu-fwpm_net_event_callback1.md
  sdk-api-src/content/fwpmu/nc-fwpmu-fwpm_net_event_callback1.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1256 Update nf-fwpmu-fwpmengineopen0.md
  sdk-api-src/content/fwpmu/nf-fwpmu-fwpmengineopen0.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1257 DXGI: Update link to section that moved articles
  sdk-api-src/content/dxgi/nf-dxgi-idxgiswapchain-present.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1106 Update ns-oaidl-dispparams.md
  sdk-api-src/content/oaidl/ns-oaidl-dispparams.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1262 Fix dml_batch_normalization_grad_operator note on broadcasting size 1 dimensions
  sdk-api-src/content/directml/ns-directml-dml_batch_normalization_grad_operator_desc.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1234 Update nf-oleauto-dosdatetimetovarianttime.md - fix typo
  sdk-api-src/content/oleauto/nf-oleauto-dosdatetimetovarianttime.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1267 Update nf-pdh-pdhexpandwildcardpatha.md
  sdk-api-src/content/pdh/nf-pdh-pdhexpandwildcardpatha.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1263 Remove ambiguity in dwNumberOfProcessors description
  sdk-api-src/content/sysinfoapi/ns-sysinfoapi-system_info.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1269 Update nf-fileapi-writefile.md
  sdk-api-src/content/fileapi/nf-fileapi-writefile.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1268 Update nf-processthreadsapi-openprocesstoken.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-openprocesstoken.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1259 PathCchAddBackslashEx: Link to PathCchAddBackslash in note
  sdk-api-src/content/pathcch/nf-pathcch-pathcchaddbackslashex.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1250 Update nn-shobjidl_core-iexplorercommand.md
  sdk-api-src/content/shobjidl_core/nn-shobjidl_core-iexplorercommand.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1249 Update nn-shobjidl_core-icontextmenu.md
  sdk-api-src/content/shobjidl_core/nn-shobjidl_core-icontextmenu.md
Labels: Change sent to author

#1271 Correct the build number for bcp47mrm APIs for MRT in WinAppSDK
  sdk-api-src/content/bcp47mrm/nf-bcp47mrm-getdistanceofclosestlanguageinlist.md
  sdk-api-src/content/bcp47mrm/nf-bcp47mrm-iswellformedtag.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1188 Added C++ example code in GetDeviceGammaRamp function.
  sdk-api-src/content/wingdi/nf-wingdi-getdevicegammaramp.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1277 RegDeleteTree: RegDeleteKeyTransacted docs say HKEY can be transacted here
  sdk-api-src/content/winreg/nf-winreg-regdeletetreea.md
  sdk-api-src/content/winreg/nf-winreg-regdeletetreew.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#1183 Update ns-wtsapi32-wts_client_address.md
  sdk-api-src/content/wtsapi32/ns-wtsapi32-wts_client_address.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#1163 Character count parameters of RegQueryInfoKeyA refer to ANSI characters, not Unicode ones
  sdk-api-src/content/winreg/nf-winreg-regqueryinfokeya.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#1270 The function is not exported from kernel32.dll
  sdk-api-src/content/appmodel/nf-appmodel-getstagedpackageorigin.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1278 fixed one typo and format as MD
  sdk-api-src/content/d2d1/ns-d2d1-d2d1_rounded_rect.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1279 Mark UMS as unsupported in Windows 11+
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-updateprocthreadattribute.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1087 Hollasch/get volume information w
  sdk-api-src/content/fileapi/nf-fileapi-getvolumeinformationa.md
  sdk-api-src/content/fileapi/nf-fileapi-getvolumeinformationw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod
