Repository MicrosoftDocs/sdk-api, pull requests merged in 2022-06, with the labels that each got.

#1136 Update interface with new property for universal app support
  sdk-api-src/content/wtsprotocol/nf-wtsprotocol-iwrdsprotocolconnection-queryproperty.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#1181 DML ArgMax typo in example
  sdk-api-src/content/directml/ns-directml-dml_argmax_operator_desc.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1180 Update nn-mfidl-imfcameracontrolmonitor.md
  sdk-api-src/content/mfidl/nn-mfidl-imfcameracontrolmonitor.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1186 Update nf-cryptxml-cryptxmlsign.md
  sdk-api-src/content/cryptxml/nf-cryptxml-cryptxmlsign.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#1184 Minor correction to structure initialisation for DnsQueryEx
  sdk-api-src/content/windns/nf-windns-dnsqueryex.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1187 Windows 7 requires lpNumberOfBytesRead on ReadFile to be set
  sdk-api-src/content/fileapi/nf-fileapi-readfile.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#970 Update nf-shellapi-doenvironmentsubstw.md
  sdk-api-src/content/shellapi/nf-shellapi-doenvironmentsubstw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1179 Correct registry key path
  sdk-api-src/content/shlwapi/nf-shlwapi-shmessageboxchecka.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1177 Update nf-shellapi-shell_notifyiconw.md
  sdk-api-src/content/shellapi/nf-shellapi-shell_notifyiconw.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1174 Added missing backticks
  sdk-api-src/content/winuser/nf-winuser-defwindowprocw.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1167 Update nf-winuser-getsystemmetrics.md
  sdk-api-src/content/winuser/nf-winuser-getsystemmetrics.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1189 Fix COLORREF links pointing to a 404
  sdk-api-src/content/dwmapi/ne-dwmapi-dwmwindowattribute.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1194 Update nf-userenv-getgpolista.md
  sdk-api-src/content/userenv/nf-userenv-getgpolista.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1191 Fix DefWindowProcA function name
  sdk-api-src/content/winuser/nf-winuser-defwindowproca.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1193 Fix a typo
  sdk-api-src/content/http/nf-http-httpsendhttpresponse.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1192 Fix broken link. Fix broken formatting in code block
  sdk-api-src/content/d3d11/ns-d3d11-d3d11_input_element_desc.md
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_input_element_desc.md
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_rasterizer_desc.md
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_shader_bytecode.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1196 Update nf-userenv-getgpolistw.md
  sdk-api-src/content/userenv/nf-userenv-getgpolistw.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1197 Update nn-mfidl-imfcameraconfigurationmanager.md
  sdk-api-src/content/mfidl/nn-mfidl-imfcameraconfigurationmanager.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1198 Update ns-d3d12-d3d12_buffer_srv.md
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_buffer_srv.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1202 Update nf-mfidl-imfsensorprofile-addblockedcontrol.md to correctly document its return value
  sdk-api-src/content/mfidl/nf-mfidl-imfsensorprofile-addblockedcontrol.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod, review-team-triage

#1210 Correct A/W links
  sdk-api-src/content/psapi/nf-psapi-getmodulefilenameexw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1211 Correct permission requirements
  sdk-api-src/content/psapi/nf-psapi-getmodulefilenameexa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1212 Clarify LeaveCriticalSection guarantees
  sdk-api-src/content/synchapi/nf-synchapi-leavecriticalsection.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1213 Fix a bunch of &lt; &gt; and &amp; in D3DCompile2 doc
  sdk-api-src/content/d3dcompiler/nf-d3dcompiler-d3dcompile2.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1216 SetThreadpoolTimer annotation fix
  sdk-api-src/content/threadpoolapiset/nf-threadpoolapiset-setthreadpooltimer.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod
