Repository MicrosoftDocs/sdk-api, pull requests merged in 2022-03, with the labels that each got.

#1076 Expand ID3D12InfoQueue docs
  sdk-api-src/content/d3d12sdklayers/nn-d3d12sdklayers-id3d12infoqueue.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1081 Asterisks used to represent multiplication, not as markup
  sdk-api-src/content/d3d11/nf-d3d11-id3d11devicecontext-cssetconstantbuffers.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1083 Clarify wording on lpValue
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-updateprocthreadattribute.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1062 Update ns-winuser-pointer_touch_info.md
  sdk-api-src/content/winuser/ns-winuser-pointer_touch_info.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1084 Fix inaccurate documentation.
  sdk-api-src/content/netlistmgr/nf-netlistmgr-ienumnetworks-next.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1088 Update nf-imagehlp-getimageconfiginformation.md
  sdk-api-src/content/imagehlp/nf-imagehlp-getimageconfiginformation.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1089 Update nf-directxmath-xmmatrix-operator-function-call(size_t_size_t).md
  sdk-api-src/content/directxmath/nf-directxmath-xmmatrix-operator-function-call(size_t_size_t).md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1090 RPC_BINDING_HANDLE_TEMPLATE_V1 incorrectly says ProtocolSequence is a string.
  sdk-api-src/content/rpcdce/ns-rpcdce-rpc_binding_handle_template_v1_a.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1097 Update casing for implied extension.
  sdk-api-src/content/libloaderapi/nf-libloaderapi-loadlibrarya.md
  sdk-api-src/content/libloaderapi/nf-libloaderapi-loadlibraryexa.md
  sdk-api-src/content/libloaderapi/nf-libloaderapi-loadlibraryexw.md
  sdk-api-src/content/libloaderapi/nf-libloaderapi-loadlibraryw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1100 Update nf-traceloggingprovider-tracelogging_define_provider.md
  sdk-api-src/content/traceloggingprovider/nf-traceloggingprovider-tracelogging_define_provider.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#776 Add missing TOUCHEVENTF_PEN
  sdk-api-src/content/winuser/ns-winuser-touchinput.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1086 [VirtualFree] clarify MEM_COALESCE_PLACEHOLDERS behavior
  sdk-api-src/content/memoryapi/nf-memoryapi-virtualfree.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1079 Add license
  LICENSE
  LICENSE-CODE
  README.md
Labels: do-not-merge, review-team-triage

#1105 Add deprecation warning for MAKELANGID macro
  sdk-api-src/content/winnt/nf-winnt-makelangid.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1102 Line 63 updated
  sdk-api-src/content/wincrypt/ns-wincrypt-cert_trust_status.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1085 Use better link
  sdk-api-src/content/_directmanipulation/index.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#935 Update nf-winreg-regrenamekey.md
  sdk-api-src/content/winreg/nf-winreg-regrenamekey.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#1108 bluetoothapis: Change library name from bthprops.dll to bthprops.cpl
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothauthenticatedevice.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothauthenticatedeviceex.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothauthenticatemultipledevices.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothdisplaydeviceproperties.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothenablediscovery.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothenableincomingconnections.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothenumerateinstalledservices.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothfinddeviceclose.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothfindfirstdevice.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothfindfirstradio.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothfindnextdevice.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothfindnextradio.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothfindradioclose.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothgetdeviceinfo.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothgetradioinfo.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothisconnectable.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothisdiscoverable.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothregisterforauthentication.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothregisterforauthenticationex.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothremovedevice.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothsdpenumattributes.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothsdpgetattributevalue.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothsdpgetcontainerelementdata.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothsdpgetelementdata.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothsdpgetstring.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothselectdevices.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothselectdevicesfree.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothsendauthenticationresponse.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothsendauthenticationresponseex.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothsetlocalserviceinfo.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothsetservicestate.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothunregisterauthentication.md
  sdk-api-src/content/bluetoothapis/nf-bluetoothapis-bluetoothupdatedevicerecord.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1113 Add a note about unified device property model to old cfgmgr32/setupapi accessors
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_get_child.md
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_get_device_id_size.md
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_get_device_ida.md
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_get_device_idw.md
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_get_parent.md
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_get_sibling.md
  sdk-api-src/content/setupapi/nf-setupapi-setupdigetdeviceinstanceida.md
  sdk-api-src/content/setupapi/nf-setupapi-setupdigetdeviceinstanceidw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod
