Repository MicrosoftDocs/sdk-api, pull requests merged in 2022-07, with the labels that each got.

#1220 fix markdown typo &amp;=>&
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-setprocessinformation.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1219 fix typo stings=>strings
  sdk-api-src/content/certenc/nf-certenc-icertencodestringarray-reset.md
  sdk-api-src/content/wincrypt/nf-wincrypt-cryptdecodeobject.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#804 Update nf-fileapi-createfilew.md
  sdk-api-src/content/fileapi/nf-fileapi-createfilew.md
Labels: Change sent to author, ready-to-merge, sdk-api-reference/tech, desktop/prod

#1221 Add documentation for PROC_THREAD_ATTRIBUTE_MACHINE_TYPE
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-updateprocthreadattribute.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech

#1222 Add missing [out, retval] for IAccessible::get_accHelp
  sdk-api-src/content/oleacc/nf-oleacc-iaccessible-get_acchelp.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1175 Fix typo of GXFPF_* flags.
  sdk-api-src/content/msctf/nf-msctf-itfcontextowner-getacpfrompoint.md
  sdk-api-src/content/textstor/nf-textstor-itextstoreacp-getacpfrompoint.md
  sdk-api-src/content/textstor/nf-textstor-itextstoreanchor-getanchorfrompoint.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1223 Update nf-d3d12-id3d12device-getdeviceremovedreason.md
  sdk-api-src/content/d3d12/nf-d3d12-id3d12device-getdeviceremovedreason.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1207 Fix a typo ns-winnt-image_debug_directory.md
  sdk-api-src/content/winnt/ns-winnt-image_debug_directory.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1200 Correct A/W link
  sdk-api-src/content/commdlg/ns-commdlg-printdlgexw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1201 Correct A/W links
  sdk-api-src/content/wingdi/nf-wingdi-createdcw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1204 Fix links
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_delete_class_key.md
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_enumerate_classes.md
  sdk-api-src/content/cfgmgr32/nf-cfgmgr32-cm_enumerate_classes_ex.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1199 Correct A/W version link
  sdk-api-src/content/wingdi/nf-wingdi-startdocw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1195 Fix typos
  sdk-api-src/content/oaidl/nf-oaidl-itypeinfo-getreftypeofimpltype.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1226 Update nf-synchapi-sleepex.md
  sdk-api-src/content/synchapi/nf-synchapi-sleepex.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1217 Updating imfsensoractivitymonitor example code snippets with working code
  sdk-api-src/content/mfidl/nn-mfidl-imfsensoractivitymonitor.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1082 Correct the device name format
  sdk-api-src/content/ioapiset/nf-ioapiset-deviceiocontrol.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1229 Fix bad links in APP_MEMORY_INFORMATION documentation
  sdk-api-src/content/processthreadsapi/ns-processthreadsapi-app_memory_information.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1228 Update nf-evntrace-controltracew.md to document ERROR_ACTIVE_CONNECTIONS return.
  sdk-api-src/content/evntrace/nf-evntrace-controltracew.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1231 Add missing backslash in FindFirstFile* functions
  sdk-api-src/content/fileapi/nf-fileapi-findfirstfilea.md
  sdk-api-src/content/fileapi/nf-fileapi-findfirstfileexa.md
  sdk-api-src/content/fileapi/nf-fileapi-findfirstfileexw.md
  sdk-api-src/content/fileapi/nf-fileapi-findfirstfilew.md
  sdk-api-src/content/winbase/nf-winbase-findfirstfiletransacteda.md
  sdk-api-src/content/winbase/nf-winbase-findfirstfiletransactedw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1233 Update nf-gdipluspen-pen-pen(constcolor__real).md
  sdk-api-src/content/gdipluspen/nf-gdipluspen-pen-pen(constcolor__real).md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1232 Update nf-gdipluspen-pen-pen(constbrush_real).md
  sdk-api-src/content/gdipluspen/nf-gdipluspen-pen-pen(constbrush_real).md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1235 Fix copyable function signature for ITextProvider::get_SupportedTextSelection.
  sdk-api-src/content/uiautomationcore/nf-uiautomationcore-itextprovider-get_supportedtextselection.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod, review-team-triage

#1241 Fix link to GetEnvironmentStrings in nf-processenv-expandenvironmentstringsa.md
  sdk-api-src/content/processenv/nf-processenv-expandenvironmentstringsa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1240 Fix link to GetEnvironmentStrings in nf-processenv-expandenvironmentstringsw.md
  sdk-api-src/content/processenv/nf-processenv-expandenvironmentstringsw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1112 Update remarks to clarify the 5-minute timeout.
  sdk-api-src/content/winbase/nf-winbase-powersetrequest.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1243 MEM_EXTENDED_PARAMETER: Fix incorrect links to MEM_ADDRESS_REQUIREMENTS
  sdk-api-src/content/winnt/ns-winnt-mem_extended_parameter.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1227 Update nf-windows-graphics-display-interop-idisplayinformationstatics…
  sdk-api-src/content/windows.graphics.display.interop/nf-windows-graphics-display-interop-idisplayinformationstaticsinterop-getforwindow.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1205 Update nf-winstring-windowscreatestringreference.md
  sdk-api-src/content/winstring/nf-winstring-windowscreatestringreference.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#559 Update nf-winuser-wsprintfa.md
  sdk-api-src/content/winuser/nf-winuser-wsprintfa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1104 Update ns-schannel-sch_credentials.md
  sdk-api-src/content/schannel/ns-schannel-sch_credentials.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1245 Add ISwapChainPanelNative::SetSwapChain remarks
  sdk-api-src/content/windows.ui.xaml.media.dxinterop/nf-windows-ui-xaml-media-dxinterop-iswapchainpanelnative-setswapchain.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1203 Update ns-winnt-jobobject_limit_violation_information_2.md
  sdk-api-src/content/winnt/ns-winnt-jobobject_limit_violation_information_2.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1117 Update nf-winbase-readdirectorychangesexw.md
  sdk-api-src/content/winbase/nf-winbase-readdirectorychangesexw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1247 Update nf-mftransform-imfdevicetransform-initializetransform.md to reflect the list of attribute values passed to InitializeFunction
  sdk-api-src/content/mftransform/nf-mftransform-imfdevicetransform-initializetransform.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1251 Update X86 processor features detection
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-isprocessorfeaturepresent.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1252 Update nf-fileapi-getfinalpathnamebyhandlew.md
  sdk-api-src/content/fileapi/nf-fileapi-getfinalpathnamebyhandlew.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1254 Update nf-fwpmu-fwpmconnectionsubscribe0.md
  sdk-api-src/content/fwpmu/nf-fwpmu-fwpmconnectionsubscribe0.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1255 Update ns-fwpmtypes-fwpm_connection_subscription0.md
  sdk-api-src/content/fwpmtypes/ns-fwpmtypes-fwpm_connection_subscription0.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod
