Repository MicrosoftDocs/sdk-api, pull requests merged in 2023-03, with the labels that each got.

#1455 Fix file encoding and remove pre-Vista comments
  sdk-api-src/content/evntrace/nf-evntrace-starttracea.md
  sdk-api-src/content/evntrace/nf-evntrace-starttracew.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1457 Clarify sRGB and 2.2 gamma and fix mistakes
  sdk-api-src/content/dxgicommon/ne-dxgicommon-dxgi_color_space_type.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1424 Correct the links of ABM_SETAUTOHIDEBAR and ABM_SETSTATE
  sdk-api-src/content/shellapi/ns-shellapi-appbardata.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1316 Changed "Lock Workstation" to "Lock"
  sdk-api-src/content/winuser/nf-winuser-lockworkstation.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1327 Fixed wrong link under the style field
  sdk-api-src/content/winuser/ns-winuser-wndclassexw.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1461 Update ns-d3d12-d3d12_feature_data_d3d12_options9.md
  sdk-api-src/content/d3d12/ns-d3d12-d3d12_feature_data_d3d12_options9.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1449 Update nf-combaseapi-iidfromstring.md
  sdk-api-src/content/combaseapi/nf-combaseapi-iidfromstring.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1445 Update nf-winuser-loadkeyboardlayoutw.md
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayouta.md
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayoutw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1049 Update nf-winuser-createwindoww.md
  sdk-api-src/content/winuser/nf-winuser-createwindoww.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1292 Fix typo in IFileOpenDialog::GetResults()
  sdk-api-src/content/shobjidl_core/nf-shobjidl_core-ifileopendialog-getresults.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1328 GetCommandLineW: Replace "previous-versions" link
  sdk-api-src/content/shellapi/nf-shellapi-commandlinetoargvw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1320 GetMessage double negative
  sdk-api-src/content/winuser/nf-winuser-getmessage.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1335 Update ns-winuser-iconinfo.md
  sdk-api-src/content/winuser/nf-winuser-geticoninfo.md
  sdk-api-src/content/winuser/nf-winuser-geticoninfoexa.md
  sdk-api-src/content/winuser/nf-winuser-geticoninfoexw.md
  sdk-api-src/content/winuser/ns-winuser-iconinfo.md
  sdk-api-src/content/winuser/ns-winuser-iconinfoexa.md
  sdk-api-src/content/winuser/ns-winuser-iconinfoexw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod, review-team-triage

#1336 Update nf-winuser-createicon.md
  sdk-api-src/content/winuser/nf-winuser-createicon.md
Labels: do-not-merge, review-team-triage

#1334 Update nf-winuser-createcursor.md
  sdk-api-src/content/winuser/nf-winuser-createcursor.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod, review-team-triage

#1338 Update nf-winuser-copyimage.md
  sdk-api-src/content/winuser/nf-winuser-copyimage.md
Labels: do-not-merge, review-team-triage

#1337 Update nf-winuser-getsystemmetrics.md
  sdk-api-src/content/winuser/nf-winuser-getsystemmetrics.md
Labels: do-not-merge, review-team-triage

#1411 Update nf-winuser-drawiconex.md
  sdk-api-src/content/winuser/nf-winuser-drawiconex.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#394 WinUser.h/user32.dll: SetForegroundWindow and AllowSetForegroundWindow minor technical corrections
  sdk-api-src/content/winuser/nf-winuser-allowsetforegroundwindow.md
  sdk-api-src/content/winuser/nf-winuser-setforegroundwindow.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1464 Minor typo
  sdk-api-src/content/usp10/ns-usp10-script_fontproperties.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1446 Escape backslashes in lpRootPathName example paths
  sdk-api-src/content/fileapi/nf-fileapi-getvolumeinformationw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1451 Fix typo `&amp;` to `&` in ne-mftransform-_mft_output_data_buffer_flags.md
  sdk-api-src/content/mftransform/ne-mftransform-_mft_output_data_buffer_flags.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1448 Update MessageBeep - SystemSoundsService note
  sdk-api-src/content/winuser/nf-winuser-messagebeep.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1466 Minor changes to API descriptions
  sdk-api-src/content/fwpmtypes/ns-fwpmtypes-fwpm_filter_condition0.md
  sdk-api-src/content/fwpmu/nc-fwpmu-fwpm_net_event_callback2.md
  sdk-api-src/content/fwpmu/nf-fwpmu-fwpmneteventsubscribe2.md
  sdk-api-src/content/fwpstypes/ns-fwpstypes-fwps_incoming_values0.md
  sdk-api-src/content/fwptypes/ne-fwptypes-fwp_match_type.md
  sdk-api-src/content/mscat/nf-mscat-cryptcatadminenumcatalogfromhash.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1460 Update ns-wingdi-logfonta.md
  sdk-api-src/content/wingdi/ns-wingdi-logfonta.md
  sdk-api-src/content/wingdi/ns-wingdi-logfontw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#811 Update nf-winuser-getwindowthreadprocessid.md
  sdk-api-src/content/winuser/nf-winuser-getwindowthreadprocessid.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1431 Remove incorrect statement
  sdk-api-src/content/winbase/nf-winbase-bindiocompletioncallback.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1433 param pProps is [out]
  sdk-api-src/content/strmif/nf-strmif-imeminputpin-getallocatorrequirements.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1421 Update nf-winbase-logonusera.md
  sdk-api-src/content/winbase/nf-winbase-logonusera.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1420 Update nf-winbase-logonuserw.md
  sdk-api-src/content/winbase/nf-winbase-logonuserw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1407 Update ns-ntdef-_object_attributes.md
  sdk-api-src/content/ntdef/ns-ntdef-_object_attributes.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1443 Update ns-shellapi-notifyicondataw.md
  sdk-api-src/content/shellapi/ns-shellapi-notifyicondataw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1435 DWORD -> DWORD_PTR
  sdk-api-src/content/commctrl/nf-commctrl-setwindowsubclass.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1412 Fixed SHCOLSTATE_TYPEMASK field description.
  sdk-api-src/content/shtypes/ne-shtypes-shcolstate.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1454 Mark GetColorDirectoryA and GetColorDirectoryW as deprecated
  sdk-api-src/content/icm/nf-icm-getcolordirectorya.md
  sdk-api-src/content/icm/nf-icm-getcolordirectoryw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1331 Update nf-wingdi-getdevicecaps.md
  sdk-api-src/content/wingdi/nf-wingdi-getdevicecaps.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1060 Minor wordsmithing
  sdk-api-src/content/ioringapi/nf-ioringapi-closeioring.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1346 Clarify that handles should be valid (non-null)
  sdk-api-src/content/mscat/nf-mscat-cryptcatadminreleasecatalogcontext.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#902 Update nf-winbase-loadpackagedlibrary.md
  sdk-api-src/content/winbase/nf-winbase-loadpackagedlibrary.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1385 Fix page description for IApplicationAssociationRegistration::QueryCurrentDefault
  sdk-api-src/content/shobjidl_core/nf-shobjidl_core-iapplicationassociationregistration-querycurrentdefault.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1366 Update nf-pathcch-pathcchaddbackslash.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchaddbackslash.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1362 Update nn-shobjidl_core-imodalwindow.md
  sdk-api-src/content/shobjidl_core/nn-shobjidl_core-imodalwindow.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1342 Update ne-shobjidl_core-_fileopendialogoptions.md
  sdk-api-src/content/shobjidl_core/ne-shobjidl_core-_fileopendialogoptions.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod, review-team-triage

#1329 Update nf-shobjidl_core-icontextmenucb-callback.md
  sdk-api-src/content/shobjidl_core/nf-shobjidl_core-icontextmenucb-callback.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1276 Improve documentation on tracking if Windows is locked
  sdk-api-src/content/winuser/nf-winuser-lockworkstation.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#995 Fix minimum OS version for IsWow64Process2
  sdk-api-src/content/wow64apiset/nf-wow64apiset-iswow64process2.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1230 Update nf-winuser-setwindowtextw.md
  sdk-api-src/content/winuser/nf-winuser-setwindowtextw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1224 Add a note to RegisterDeviceNotification
  sdk-api-src/content/winuser/nf-winuser-registerdevicenotificationa.md
  sdk-api-src/content/winuser/nf-winuser-registerdevicenotificationw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1168 Update the document to reflect actual annotations
  sdk-api-src/content/winver/nf-winver-getfileversioninfoexa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1145 Remove silly WPSTYLE_MAX remark
  sdk-api-src/content/shlobj_core/ns-shlobj_core-wallpaperopt.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1462 Adding clarity to the note
  sdk-api-src/content/winreg/nf-winreg-regqueryvalueexa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1383 Update ne-wtsapi32-wts_info_class.md
  sdk-api-src/content/wtsapi32/ne-wtsapi32-wts_info_class.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1307 Fixed typos in description RegEnumKeyExA
  sdk-api-src/content/winreg/nf-winreg-regenumkeyexa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1293 Update DVC write to document a limit on the size
  sdk-api-src/content/tsvirtualchannels/nf-tsvirtualchannels-iwtsvirtualchannel-write.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1283 Add ERROR_FILE_NOT_FOUND
  sdk-api-src/content/winreg/nf-winreg-reggetvaluea.md
  sdk-api-src/content/winreg/nf-winreg-reggetvaluew.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1045 More details about the case in which the function fails
  sdk-api-src/content/winuser/nf-winuser-getwindowthreadprocessid.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#971 Fix wsprintf character types
  sdk-api-src/content/winuser/nf-winuser-wsprintfa.md
  sdk-api-src/content/winuser/nf-winuser-wsprintfw.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#994 Document return value of PathUnquoteSpaces
  sdk-api-src/content/shlwapi/nf-shlwapi-pathunquotespacesa.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1468 Added description for D3D12_RESOURCE_STATE_ALL_SHADER_RESOURCE
  sdk-api-src/content/d3d12/ne-d3d12-d3d12_resource_states.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1014 Mention that POINTER_INFO dwKeyStates is always 0
  sdk-api-src/content/winuser/ns-winuser-pointer_info.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1473 Update ns-winuser-rawinput.md
  sdk-api-src/content/winuser/ns-winuser-rawinput.md
Labels: Change sent to author, sdk-api-reference/tech

#1472 Update ne-secext-extended_name_format.md
  sdk-api-src/content/secext/ne-secext-extended_name_format.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1474 Update nn-uiautomationcore-iaccessibleex.md
  sdk-api-src/content/uiautomationcore/nn-uiautomationcore-iaccessibleex.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1450 Add QS_TOUCH and QS_POINTER to the message types
  sdk-api-src/content/winuser/nf-winuser-getqueuestatus.md
  sdk-api-src/content/winuser/nf-winuser-msgwaitformultipleobjects.md
  sdk-api-src/content/winuser/nf-winuser-msgwaitformultipleobjectsex.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1430 Update nf-winuser-loadkeyboardlayoutw.md
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayouta.md
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayoutw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1434 Fix QueueUserAPC2 minimum supported versions
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-queueuserapc2.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1436 Update nf-winnls-getdurationformatex.md
  sdk-api-src/content/winnls/nf-winnls-getdurationformatex.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1438 Update nf-processthreadsapi-isprocessorfeaturepresent.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-isprocessorfeaturepresent.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1397 Update nf-winnetwk-wnetgetresourceinformationw.md
  sdk-api-src/content/winnetwk/nf-winnetwk-wnetgetresourceinformationa.md
  sdk-api-src/content/winnetwk/nf-winnetwk-wnetgetresourceinformationw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1479 Update nf-winuser-createwindowexw.md
  sdk-api-src/content/winuser/nf-winuser-createwindowexw.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#514 Update nf-winuser-settimer.md
  sdk-api-src/content/winuser/nf-winuser-settimer.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1041 Add "See remarks" for SystemParametersInfo SPI_NONCLIENTMETRICS
  sdk-api-src/content/winuser/nf-winuser-systemparametersinfoa.md
  sdk-api-src/content/winuser/nf-winuser-systemparametersinfow.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1281 Update nf-winuser-postmessagew.md
  sdk-api-src/content/winuser/nf-winuser-postmessagew.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1481 Update nf-synchapi-initonceexecuteonce.md
  sdk-api-src/content/synchapi/nf-synchapi-initonceexecuteonce.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1437 Update nf-datetimeapi-gettimeformatex.md
  sdk-api-src/content/datetimeapi/nf-datetimeapi-gettimeformatex.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1477 Update nf-synchapi-setevent.md
  sdk-api-src/content/synchapi/nf-synchapi-setevent.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod
