Repository MicrosoftDocs/sdk-api, pull requests merged in 2023-01, with the labels that each got.

#1375 Update nf-winuser-tounicodeex.md
  sdk-api-src/content/winuser/nf-winuser-tounicode.md
  sdk-api-src/content/winuser/nf-winuser-tounicodeex.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1398 Create .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Labels: do-not-merge, review-team-triage, docs-editor-pilot

#1403 Update .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Labels: do-not-merge, review-team-triage, docs-editor-pilot

#1405 Update nn-uiautomationcore-iuiautomationregistrar.md
  sdk-api-src/content/uiautomationcore/nn-uiautomationcore-iuiautomationregistrar.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1391 Update nf-wingdi-wglcreatecontext.md
  sdk-api-src/content/wingdi/nf-wingdi-wglcreatecontext.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1390 Remove outdated Insider only notice in DWMWA_SYSTEMBACKDROP_TYPE
  sdk-api-src/content/dwmapi/ne-dwmapi-dwmwindowattribute.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1406 Update nf-uiautomationcore-iuiautomationregistrar-registerevent.md
  sdk-api-src/content/uiautomationcore/nf-uiautomationcore-iuiautomationregistrar-registerevent.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech

#1404 Update nf-sysinfoapi-getproductinfo.md
  sdk-api-src/content/sysinfoapi/nf-sysinfoapi-getproductinfo.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1402 fix formatting of [in]/[out] specifier for `IMetaDataDispenser::Defin…
  sdk-api-src/content/rometadataapi/nf-rometadataapi-imetadatadispenser-openscope.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1401 Update nf-winuser-loadkeyboardlayoutw.md
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayouta.md
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayoutw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1394 Update nf-xinput-xinputenable.md
  sdk-api-src/content/xinput/nf-xinput-xinputenable.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1392 Remove incorrect CreateProcess*() documentation regarding CREATE_UNICODE_ENVIRONMENT
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessa.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessasusera.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessasuserw.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessw.md
  sdk-api-src/content/winbase/nf-winbase-createprocesswithlogonw.md
  sdk-api-src/content/winbase/nf-winbase-createprocesswithtokenw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1389 nf-winuser-registerhotkey.md - fixed parameter name
  sdk-api-src/content/winuser/nf-winuser-registerhotkey.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1382 Update nf-winnls-localenametolcid.md
  sdk-api-src/content/winnls/nf-winnls-localenametolcid.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1381 Fix markdown rendering error for local named pipe syntax.
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-callnamedpipew.md
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-connectnamedpipe.md
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-createnamedpipew.md
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-disconnectnamedpipe.md
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-getnamedpipeclientcomputernamew.md
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-getnamedpipehandlestatew.md
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-peeknamedpipe.md
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-setnamedpipehandlestate.md
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-transactnamedpipe.md
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-waitnamedpipew.md
  sdk-api-src/content/winbase/nf-winbase-callnamedpipea.md
  sdk-api-src/content/winbase/nf-winbase-createnamedpipea.md
  sdk-api-src/content/winbase/nf-winbase-getnamedpipeclientcomputernamea.md
  sdk-api-src/content/winbase/nf-winbase-getnamedpipeclientprocessid.md
  sdk-api-src/content/winbase/nf-winbase-getnamedpipeclientsessionid.md
  sdk-api-src/content/winbase/nf-winbase-getnamedpipehandlestatea.md
  sdk-api-src/content/winbase/nf-winbase-getnamedpipeserverprocessid.md
  sdk-api-src/content/winbase/nf-winbase-getnamedpipeserversessionid.md
  sdk-api-src/content/winbase/nf-winbase-waitnamedpipea.md
Labels: do-not-merge

#1379 Update documentation for QueueUserAPC2
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-queueuserapc2.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1341 Update nf-winbase-updateresourcea.md
  sdk-api-src/content/winbase/nf-winbase-updateresourcea.md
  sdk-api-src/content/winbase/nf-winbase-updateresourcew.md
Labels: do-not-merge, review-team-triage

#1344 Update URL
  sdk-api-src/content/objidl/nn-objidl-istream.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1359 Fix HTML syntax error
  sdk-api-src/content/dbghelp/nf-dbghelp-syminitialize.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1352 ConnectionTimeout and TransactionTimeout are in milliseconds
  sdk-api-src/content/uiautomationclient/nf-uiautomationclient-iuiautomation2-get_connectiontimeout.md
  sdk-api-src/content/uiautomationclient/nf-uiautomationclient-iuiautomation2-get_transactiontimeout.md
  sdk-api-src/content/uiautomationclient/nf-uiautomationclient-iuiautomation2-put_connectiontimeout.md
  sdk-api-src/content/uiautomationclient/nf-uiautomationclient-iuiautomation2-put_transactiontimeout.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1347 Context shouldn't be a code pointer on Arm32
  sdk-api-src/content/synchapi/nc-synchapi-pinit_once_fn.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1348 Context shouldn't be a code pointer on Arm32
  sdk-api-src/content/synchapi/nf-synchapi-initonceexecuteonce.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1374 Fixup the size description
  sdk-api-src/content/dbghelp/ns-dbghelp-symbol_info.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1377 Update GetThreadContext.md: hThread parameter description: "WOW64" to "Windows XP or Windows Server 2003"
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getthreadcontext.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1340 Update nf-winuser-getkeynametexta.md
  sdk-api-src/content/winuser/nf-winuser-getkeynametexta.md
  sdk-api-src/content/winuser/nf-winuser-getkeynametextw.md
Labels: do-not-merge, review-team-triage

#1363 Update nf-winuser-setcursor.md
  sdk-api-src/content/winuser/nf-winuser-setcursor.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1376 Update nf-winuser-mapvirtualkeyexw.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeya.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeyexa.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeyexw.md
  sdk-api-src/content/winuser/nf-winuser-mapvirtualkeyw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1378 Update nf-winuser-tounicodeex.md
  sdk-api-src/content/winuser/nf-winuser-tounicode.md
  sdk-api-src/content/winuser/nf-winuser-tounicodeex.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1339 Update nf-winuser-loadkeyboardlayouta.md
  sdk-api-src/content/winuser/nf-winuser-getkeyboardlayoutnamea.md
  sdk-api-src/content/winuser/nf-winuser-getkeyboardlayoutnamew.md
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayouta.md
  sdk-api-src/content/winuser/nf-winuser-loadkeyboardlayoutw.md
Labels: do-not-merge, review-team-triage

#1409 Update Arm64 processor features detection
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-isprocessorfeaturepresent.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1410 Update nf-xaudio2-ixaudio2-createmasteringvoice.md
  sdk-api-src/content/xaudio2/nf-xaudio2-ixaudio2-createmasteringvoice.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1413 Fix max size formula for USN_RECORD_V2
  sdk-api-src/content/winioctl/ns-winioctl-usn_record_v2.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1417 Update nf-setupapi-setupdigetclassdevsexa.md
  sdk-api-src/content/setupapi/nf-setupapi-setupdigetclassdevsexa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1418 Update nf-textstor-itextstoreacp2-gettext.md
  sdk-api-src/content/textstor/nf-textstor-itextstoreacp2-gettext.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod
