Repository MicrosoftDocs/sdk-api, pull requests merged in 2024-11, with the labels that each got.

#1928 Update nf-memoryapi-mapviewoffile3.md
  sdk-api-src/content/memoryapi/nf-memoryapi-mapviewoffile3.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1930 Fix backslashes for SetVolumeMountPoint
  sdk-api-src/content/winbase/nf-winbase-setvolumemountpointa.md
  sdk-api-src/content/winbase/nf-winbase-setvolumemountpointw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1933 Link to page about env vars
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessa.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1906 Update nf-winuser-setwindowshookexa.md
  sdk-api-src/content/winuser/nf-winuser-setwindowshookexa.md
Labels: do-not-merge, review-team-triage

#1893 Update nf-shobjidl_core-ishellitemimagefactory-getimage.md
  sdk-api-src/content/shobjidl_core/nf-shobjidl_core-ishellitemimagefactory-getimage.md
Labels: review-team-triage

#1856 Update nf-winuser-setwindowshookexa.md
  sdk-api-src/content/winuser/nf-winuser-setwindowshookexa.md
Labels: Change sent to author, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1792 Warn .net users of SeWindowsHookExW about garbage-collection of callbacks
  sdk-api-src/content/winuser/nf-winuser-setwindowshookexw.md
Labels: Change sent to author, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1811 Update nf-winuser-createwindowexw.md
  sdk-api-src/content/winuser/nf-winuser-createwindowexw.md
Labels: Change sent to author, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1935 Link to W version of struct in GetStartupInfoW
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getstartupinfow.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1934 Link to page about env vars pt2
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessasusera.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessasuserw.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-createprocessw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1932 Update nf-bcrypt-bcryptduplicatekey.md
  sdk-api-src/content/bcrypt/nf-bcrypt-bcryptduplicatekey.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1937 Update nn-mfidl-imfextendedcameracontroller.md
  sdk-api-src/content/mfidl/nn-mfidl-imfextendedcameracontroller.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc
