Repository MicrosoftDocs/sdk-api, pull requests merged in 2024-06, with the labels that each got.

#1829 Update nf-d3d11-id3d11videocontext-decoderbeginframe.md
  sdk-api-src/content/d3d11/nf-d3d11-id3d11videocontext-decoderbeginframe.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1830 Clarify ExpandEnvironmentStrings size limitation
  sdk-api-src/content/processenv/nf-processenv-expandenvironmentstringsa.md
  sdk-api-src/content/processenv/nf-processenv-expandenvironmentstringsw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1831 Fixed typo
  sdk-api-src/content/fwpmu/nf-fwpmu-fwpmneteventenum1.md
Labels: Change sent to author, do-not-merge, docs-editor-pilot, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1832 Removed duplicate info.
  sdk-api-src/content/fwpmu/nf-fwpmu-fwpmneteventsgetsecurityinfo0.md
Labels: Change sent to author, do-not-merge, docs-editor-pilot, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1833 Update ID3D12GraphicsCommandList::Reset page to be clearer
  sdk-api-src/content/d3d12/nf-d3d12-id3d12graphicscommandlist-reset.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1834 Update ID3D12GraphicsAllocatorList::Reset page to be clearer
  sdk-api-src/content/d3d12/nf-d3d12-id3d12commandallocator-reset.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1823 Update nf-projectedfslib-prjstopvirtualizing.md
  sdk-api-src/content/projectedfslib/nf-projectedfslib-prjstopvirtualizing.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1812 Update nf-winbase-winmain.md: fixed broken link
  sdk-api-src/content/winbase/nf-winbase-winmain.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1835 EnumResourceLanguages: Erroneously links to Direct3D 10
  sdk-api-src/content/winbase/nf-winbase-enumresourcelanguagesa.md
  sdk-api-src/content/winbase/nf-winbase-enumresourcelanguagesw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1808 improve CoreInput docs
  sdk-api-src/content/corewindow/nf-corewindow-createcontrolinput.md
  sdk-api-src/content/corewindow/nf-corewindow-createcontrolinputex.md
  sdk-api-src/content/corewindow/nf-corewindow-icoreinputinterop-setinputsource.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1800 Fix typo with INTERACTION_CONTEXT_PROPERTY_INTERACTION_UI_FEEDBACK
  sdk-api-src/content/interactioncontext/nf-interactioncontext-getpropertyinteractioncontext.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1749 Fixed formatting in BaseAddress parameter description
  sdk-api-src/content/memoryapi/nf-memoryapi-mapviewoffile3.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1723 Update ns-winuser-rawkeyboard.md
  sdk-api-src/content/winuser/ns-winuser-rawkeyboard.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1648 Make each DeviceIoControl parameter in USN IOCTLs appear on their own line
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_query_usn_journal.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_read_file_usn_data.md
Labels: do-not-merge

#1685 Fix escaping of backslashes for specifying a volume
  sdk-api-src/content/fileapi/nf-fileapi-createfile2.md
  sdk-api-src/content/fileapi/nf-fileapi-createfilea.md
  sdk-api-src/content/fileapi/nf-fileapi-createfilew.md
  sdk-api-src/content/fileapi/nf-fileapi-flushfilebuffers.md
  sdk-api-src/content/virtdisk/nf-virtdisk-getvirtualdiskphysicalpath.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_allow_extended_dasd_io.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_create_usn_journal.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_delete_usn_journal.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_dismount_volume.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_query_usn_journal.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_read_file_usn_data.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_read_usn_journal.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_unlock_volume.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_write_usn_close_record.md
  sdk-api-src/content/winioctl/ns-winioctl-mark_handle_info.md
Labels: do-not-merge

#1739 Update ns-winuser-rawinputdevice.md
  sdk-api-src/content/winuser/ns-winuser-rawinputdevice.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1678 Update nf-winuser-getkeynametextw.md
  sdk-api-src/content/winuser/nf-winuser-getkeynametexta.md
  sdk-api-src/content/winuser/nf-winuser-getkeynametextw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1681 Add info on RAWMOUSE.ulExtraInformation
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1840 Fix incorrect definition of nf-winerror-hresult_code.md
  sdk-api-src/content/winerror/nf-winerror-hresult_code.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1841 Update nf-winerror-hresult_facility.md
  sdk-api-src/content/winerror/nf-winerror-hresult_facility.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1843 Update nf-threadpoolapiset-setthreadpoolwait.md
  sdk-api-src/content/threadpoolapiset/nf-threadpoolapiset-setthreadpoolwait.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1837 Update ns-winuser-rawkeyboard.md
  sdk-api-src/content/winuser/ns-winuser-rawkeyboard.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1842 Update nf-winbase-writeprivateprofilestringw.md
  sdk-api-src/content/winbase/nf-winbase-writeprivateprofilestringw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1804 Update nf-winbase-movefileexa.md
  sdk-api-src/content/winbase/nf-winbase-movefileexa.md
  sdk-api-src/content/winbase/nf-winbase-movefileexw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1784 Update nf-ntdsapi-dsaddsidhistorya.md
  sdk-api-src/content/ntdsapi/nf-ntdsapi-dsaddsidhistorya.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1791 Update nf-strmif-iamcameracontrol-set.md
  sdk-api-src/content/strmif/nf-strmif-iamcameracontrol-set.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1790 Update nf-strmif-iamvideoprocamp-set.md
  sdk-api-src/content/strmif/nf-strmif-iamvideoprocamp-set.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1844 Updated table to include SHA1_SHA256 & SHA256 hashes
  sdk-api-src/content/wincrypt/nf-wincrypt-certfindcertificateinstore.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1845 Added SHA1_SHA256 & SHA256 hashes
  sdk-api-src/content/wincrypt/nf-wincrypt-certgetcertificatecontextproperty.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1846 Updated remarks for schannel RSA
  sdk-api-src/content/schannel/ns-schannel-crypto_settings.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1847 Document MEM_64K_PAGES attribute
  sdk-api-src/content/memoryapi/nf-memoryapi-virtualalloc2.md
  sdk-api-src/content/winnt/ns-winnt-mem_extended_parameter.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc
