Repository MicrosoftDocs/sdk-api, pull requests merged in 2024-10, with the labels that each got.

#1907 Update nf-winuser-createcursor.md
  sdk-api-src/content/winuser/nf-winuser-createcursor.md
Labels: do-not-merge, review-team-triage

#1908 Update ne-dwmapi-dwmwindowattribute.md
  sdk-api-src/content/dwmapi/ne-dwmapi-dwmwindowattribute.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1910 Correct intra-app-container named pipe warning to clarify that named pipes do still work for standard win32 apps.
  sdk-api-src/content/namedpipeapi/nf-namedpipeapi-connectnamedpipe.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1909 Fixed remark typo
  sdk-api-src/content/winbase/nf-winbase-openfilemappinga.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1905 Update ID3D12VideoEncodeCommandList2::ResolveEncoderOutputMetadata
  sdk-api-src/content/d3d12video/nf-d3d12video-id3d12videoencodecommandlist2-resolveencoderoutputmetadata.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1836 Update various WASAPI reference docs to refer to "process loopback mode", added in Win10 20348
  sdk-api-src/content/audioclient/nn-audioclient-iaudioclient.md
  sdk-api-src/content/audioclientactivationparams/ns-audioclientactivationparams-audioclient_activation_params.md
  sdk-api-src/content/mmdeviceapi/nf-mmdeviceapi-activateaudiointerfaceasync.md
  sdk-api-src/content/mmdeviceapi/nf-mmdeviceapi-immdevice-activate.md
Labels: Change sent to author, do-not-merge, docs-editor-pilot, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1914 Improve D3DPreoprocess output explanation
  sdk-api-src/content/d3dcompiler/nf-d3dcompiler-d3dpreprocess.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1913 Clarify that the scRGB color space isn't a output/monitor color space despite being supported on swap chains
  sdk-api-src/content/dxgi1_6/ns-dxgi1_6-dxgi_output_desc1.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1912 Clarify CheckColorSpaceSupport() description as it was very ambiguous
  sdk-api-src/content/dxgi1_4/nf-dxgi1_4-idxgiswapchain3-checkcolorspacesupport.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1915 Escape underscores in nf-lzexpand-lzopenfilew.md
  sdk-api-src/content/lzexpand/nf-lzexpand-lzopenfilew.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1916 Update nf-processthreadsapi-getthreaddescription.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getthreaddescription.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1918 Update ns-evntrace-classic_event_id.md - link to NT Logger Constants
  sdk-api-src/content/evntrace/ns-evntrace-classic_event_id.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1917 Update nf-evntcons-geteventprocessorindex.md - corrected false statements
  sdk-api-src/content/evntcons/nf-evntcons-geteventprocessorindex.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1921 Fix incorrect parameter descriptions on IDXGIAdapter3::RegisterVideoMemoryBudgetChangeNotificationEvent.
  sdk-api-src/content/dxgi1_4/nf-dxgi1_4-idxgiadapter3-registervideomemorybudgetchangenotificationevent.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1883 Update nf-msctf-itfthreadmgrex-getactiveflags.md
  sdk-api-src/content/msctf/nf-msctf-itfthreadmgr2-getactiveflags.md
  sdk-api-src/content/msctf/nf-msctf-itfthreadmgrex-getactiveflags.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1884 Update nf-msctf-itfinputprocessorprofileactivationsink-onactivated.md
  sdk-api-src/content/msctf/nf-msctf-itfinputprocessorprofileactivationsink-onactivated.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1903 Add links to ICU usage in GetStringType* APIs
  sdk-api-src/content/stringapiset/nf-stringapiset-getstringtypeexw.md
  sdk-api-src/content/stringapiset/nf-stringapiset-getstringtypew.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1895 Update nf-processthreadsapi-getthreadcontext.md
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getthreadcontext.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1896 [WaitForSingleObject.md] clarify that "no timeout" means "Win32/INFINITE"
  sdk-api-src/content/synchapi/nf-synchapi-waitforsingleobject.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1922 Don't report that RtlNtStatusToDosError has no import lib
  sdk-api-src/content/winternl/nf-winternl-rtlntstatustodoserror.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1924 Update ne-wtypesbase-clsctx.md
  sdk-api-src/content/wtypesbase/ne-wtypesbase-clsctx.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1925 Update nf-fileapi-getvolumepathnamesforvolumenamew.md
  sdk-api-src/content/fileapi/nf-fileapi-getvolumepathnamesforvolumenamew.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1923 Update ns-wintrust-wintrust_data.md
  sdk-api-src/content/wintrust/ns-wintrust-wintrust_data.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1926 small typo in nc-fwpmu-fwpm_filter_change_callback0.md
  sdk-api-src/content/fwpmu/nc-fwpmu-fwpm_filter_change_callback0.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc
