Repository MicrosoftDocs/sdk-api, pull requests merged in 2024-01, with the labels that each got.

#1709 Note that using `SetCurrentDirectory` with a path longer than `MAX_PATH` will break `CreateProcess`
  sdk-api-src/content/winbase/nf-winbase-setcurrentdirectory.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1696 Update nf-winuser-createwindowexa.md
  sdk-api-src/content/winuser/nf-winuser-createwindowexa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1697 Update nf-winuser-createwindowa.md
  sdk-api-src/content/winuser/nf-winuser-createwindowa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1698 Update nf-winuser-createwindoww.md
  sdk-api-src/content/winuser/nf-winuser-createwindoww.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1717 WinUser: Fix CreateWindowA return type in syntax
  sdk-api-src/content/winuser/nf-winuser-createwindowa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1729 Update ns-wincrypt-crypt_algorithm_identifier.md
  sdk-api-src/content/wincrypt/ns-wincrypt-crypt_algorithm_identifier.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1725 Update nf-synchapi-initoncebegininitialize.md
  sdk-api-src/content/synchapi/nf-synchapi-initoncebegininitialize.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1730 ws2tcpip: Fix GetAddrInfoEx parameters
  sdk-api-src/content/ws2tcpip/nf-ws2tcpip-getaddrinfoexa.md
  sdk-api-src/content/ws2tcpip/nf-ws2tcpip-getaddrinfoexw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1713 winuser: Clarify wsprintfA and wsprintfW format specifiers
  sdk-api-src/content/winuser/nf-winuser-wsprintfa.md
  sdk-api-src/content/winuser/nf-winuser-wsprintfw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1705 Update nf-pathcch-pathcchfindextension.md
  sdk-api-src/content/pathcch/nf-pathcch-pathcchfindextension.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1721 Update ne-winevt-evt_channel_config_property_id.md
  sdk-api-src/content/winevt/ne-winevt-evt_channel_config_property_id.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1480 Update ShellAbout documentation
  sdk-api-src/content/shellapi/nf-shellapi-shellabouta.md
  sdk-api-src/content/shellapi/nf-shellapi-shellaboutw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1720 Update ne-winevt-evt_render_context_flags.md
  sdk-api-src/content/winevt/ne-winevt-evt_render_context_flags.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1719 Update nf-winevt-evtcreaterendercontext.md
  sdk-api-src/content/winevt/nf-winevt-evtcreaterendercontext.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1718 Fix wrong link
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-getthreadcontext.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1731 Update nf-sysinfoapi-getsystemfirmwaretable.md
  sdk-api-src/content/sysinfoapi/nf-sysinfoapi-getsystemfirmwaretable.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1624 Remove `ID2D1DrawTransform` from the remarks
  sdk-api-src/content/d2d1effectauthor/nn-d2d1effectauthor-id2d1analysistransform.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1722 Update nf-strmif-iamvideoprocamp-set.md
  sdk-api-src/content/strmif/nf-strmif-iamvideoprocamp-set.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1727 Update nf-strmif-iamcameracontrol-getrange.md
  sdk-api-src/content/strmif/nf-strmif-iamcameracontrol-getrange.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1726 Update nf-strmif-iamvideoprocamp-getrange.md
  sdk-api-src/content/strmif/nf-strmif-iamvideoprocamp-getrange.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1706 Correct decimal values for TLS-related constants.
  sdk-api-src/content/schannel/ns-schannel-secpkgcontext_connectioninfo.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1694 Update nf-winbase-lstrcmpiw.md
  sdk-api-src/content/winbase/nf-winbase-lstrcmpiw.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1732 Fix links in InterlockedExchage docs
  sdk-api-src/content/winbase/nf-winbase-interlockedexchangesubtract.md
  sdk-api-src/content/winnt/nf-winnt-interlockedexchange.md
  sdk-api-src/content/winnt/nf-winnt-interlockedexchange16.md
  sdk-api-src/content/winnt/nf-winnt-interlockedexchange64.md
  sdk-api-src/content/winnt/nf-winnt-interlockedexchange8.md
  sdk-api-src/content/winnt/nf-winnt-interlockedexchangeadd.md
  sdk-api-src/content/winnt/nf-winnt-interlockedexchangeadd64.md
  sdk-api-src/content/winnt/nf-winnt-interlockedexchangepointer.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1007 Update nf-winsvc-changeserviceconfig2w.md
  sdk-api-src/content/winsvc/nf-winsvc-changeserviceconfig2w.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1740 Update nf-gdiplusheaders-bitmap-initializepalette.md
  sdk-api-src/content/gdiplusheaders/nf-gdiplusheaders-bitmap-initializepalette.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1741 FIX: ")X04000" -> "0x04000"
  sdk-api-src/content/wincred/nf-wincred-creduipromptforcredentialsa.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1738 Add ntdll.lib metadata to winternl APIs
  sdk-api-src/content/ip2string/nf-ip2string-rtlethernetaddresstostringa.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlethernetaddresstostringw.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlethernetstringtoaddressa.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlethernetstringtoaddressw.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv4addresstostringa.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv4addresstostringexw.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv4addresstostringw.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv4stringtoaddressa.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv4stringtoaddressexw.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv4stringtoaddressw.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv6addresstostringa.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv6addresstostringexw.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv6addresstostringw.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv6stringtoaddressa.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv6stringtoaddressexw.md
  sdk-api-src/content/ip2string/nf-ip2string-rtlipv6stringtoaddressw.md
  sdk-api-src/content/rtlsupportapi/nf-rtlsupportapi-rtlraiseexception.md
  sdk-api-src/content/winnt/nf-winnt-rtlconvertdevicefamilyinfotostring.md
  sdk-api-src/content/winnt/nf-winnt-rtlfirstentryslist.md
  sdk-api-src/content/winnt/nf-winnt-rtlinitializeslisthead.md
  sdk-api-src/content/winnt/nf-winnt-rtlinterlockedflushslist.md
  sdk-api-src/content/winnt/nf-winnt-rtlinterlockedpopentryslist.md
  sdk-api-src/content/winnt/nf-winnt-rtlinterlockedpushentryslist.md
  sdk-api-src/content/winnt/nf-winnt-rtlquerydepthslist.md
  sdk-api-src/content/winternl/nf-winternl-ntclose.md
  sdk-api-src/content/winternl/nf-winternl-ntcreatefile.md
  sdk-api-src/content/winternl/nf-winternl-ntdeviceiocontrolfile.md
  sdk-api-src/content/winternl/nf-winternl-ntnotifychangemultiplekeys.md
  sdk-api-src/content/winternl/nf-winternl-ntopenfile.md
  sdk-api-src/content/winternl/nf-winternl-ntqueryinformationprocess.md
  sdk-api-src/content/winternl/nf-winternl-ntqueryinformationthread.md
  sdk-api-src/content/winternl/nf-winternl-ntquerymultiplevaluekey.md
  sdk-api-src/content/winternl/nf-winternl-ntqueryobject.md
  sdk-api-src/content/winternl/nf-winternl-ntquerysysteminformation.md
  sdk-api-src/content/winternl/nf-winternl-ntquerysystemtime.md
  sdk-api-src/content/winternl/nf-winternl-ntrenamekey.md
  sdk-api-src/content/winternl/nf-winternl-ntsetinformationkey.md
  sdk-api-src/content/winternl/nf-winternl-ntwaitforsingleobject.md
  sdk-api-src/content/winternl/nf-winternl-rtlansistringtounicodestring.md
  sdk-api-src/content/winternl/nf-winternl-rtlchartointeger.md
  sdk-api-src/content/winternl/nf-winternl-rtlconvertsidtounicodestring.md
  sdk-api-src/content/winternl/nf-winternl-rtlfreeansistring.md
  sdk-api-src/content/winternl/nf-winternl-rtlfreeoemstring.md
  sdk-api-src/content/winternl/nf-winternl-rtlfreeunicodestring.md
  sdk-api-src/content/winternl/nf-winternl-rtlinitstring.md
  sdk-api-src/content/winternl/nf-winternl-rtlinitunicodestring.md
  sdk-api-src/content/winternl/nf-winternl-rtlisnamelegaldos8dot3.md
  sdk-api-src/content/winternl/nf-winternl-rtllocaltimetosystemtime.md
  sdk-api-src/content/winternl/nf-winternl-rtlntstatustodoserror.md
  sdk-api-src/content/winternl/nf-winternl-rtltimetosecondssince1970.md
  sdk-api-src/content/winternl/nf-winternl-rtlunicodestringtoansistring.md
  sdk-api-src/content/winternl/nf-winternl-rtlunicodestringtooemstring.md
  sdk-api-src/content/winternl/nf-winternl-rtlunicodetomultibytesize.md
  sdk-api-src/content/winternl/nf-winternl-rtluniform.md
Labels: do-not-merge

#1631 Update GetRegionData "returns" section
  sdk-api-src/content/wingdi/nf-wingdi-getregiondata.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1744 Writes beyond the end of the file do zero initialize data
  sdk-api-src/content/fileapi/nf-fileapi-setfilepointer.md
  sdk-api-src/content/fileapi/nf-fileapi-setfilepointerex.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1747 Update ne-gdiplusenums-stringformatflags.md
  sdk-api-src/content/gdiplusenums/ne-gdiplusenums-stringformatflags.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1748 Update ne-gdiplusenums-stringalignment.md
  sdk-api-src/content/gdiplusenums/ne-gdiplusenums-stringalignment.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1745 Update nf-ntsecapi-lsastoreprivatedata.md
  sdk-api-src/content/ntsecapi/nf-ntsecapi-lsastoreprivatedata.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1746 Update nf-ntsecapi-lsaretrieveprivatedata.md
  sdk-api-src/content/ntsecapi/nf-ntsecapi-lsaretrieveprivatedata.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc
