Repository MicrosoftDocs/sdk-api, pull requests merged in 2024-03, with the labels that each got.

#1783 HeapSummary: Fix return value description
  sdk-api-src/content/heapapi/nf-heapapi-heapsummary.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1779 Less clumsy wording for parent process attribute
  sdk-api-src/content/processthreadsapi/nf-processthreadsapi-updateprocthreadattribute.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1724 Update ns-winuser-rawmouse.md
  sdk-api-src/content/winuser/ns-winuser-rawmouse.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1789 Add info about required attribute in effect registration XML for analysis effects
  sdk-api-src/content/d2d1effectauthor/nn-d2d1effectauthor-id2d1analysistransform.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1787 Update nf-wincrypt-cryptacquirecontexta.md
  sdk-api-src/content/wincrypt/nf-wincrypt-cryptacquirecontexta.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1794 Fix reversed descriptions for Direct2D Morphology effect's Erode/Dilate
  sdk-api-src/content/d2d1effects/ne-d2d1effects-d2d1_morphology_mode.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1782 Update nf-wingdi-createenhmetafilew.md
  sdk-api-src/content/wingdi/nf-wingdi-createenhmetafilew.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1691 Update nf-winuser-loadimagew.md
  sdk-api-src/content/winuser/nf-winuser-loadimagea.md
  sdk-api-src/content/winuser/nf-winuser-loadimagew.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod

#1778 Update nn-shobjidl_core-idesktopwallpaper.md
  sdk-api-src/content/shobjidl_core/nn-shobjidl_core-idesktopwallpaper.md
Labels: Change sent to author, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1793 Update ns-schannel-secpkgcontext_connectioninfo.md
  sdk-api-src/content/schannel/ns-schannel-secpkgcontext_connectioninfo.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc
