Repository MicrosoftDocs/sdk-api, pull requests merged in 2025-02, with the labels that each got.

#1970 Remove superfluous asterisk escape in nf-winuser-dlgdirlistcomboboxw.md, and in nf-winuser-dlgdirlistcomboboxa.md
  sdk-api-src/content/winuser/nf-winuser-dlgdirlistcomboboxa.md
  sdk-api-src/content/winuser/nf-winuser-dlgdirlistcomboboxw.md
Labels: Change sent to author, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1966 Update nf-shellapi-shellabouta.md
  sdk-api-src/content/shellapi/nf-shellapi-shellabouta.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1967 Update nf-shellapi-shellaboutw.md
  sdk-api-src/content/shellapi/nf-shellapi-shellaboutw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1963 Update nf-shlwapi-wvnsprintfw.md
  sdk-api-src/content/shlwapi/nf-shlwapi-wvnsprintfw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1958 Update nf-winuser-peekmessagew.md
  sdk-api-src/content/winuser/nf-winuser-peekmessagea.md
  sdk-api-src/content/winuser/nf-winuser-peekmessagew.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1952 Link to W version pages in window creation
  sdk-api-src/content/psapi/nc-psapi-penum_page_file_callbackw.md
  sdk-api-src/content/psapi/nf-psapi-getmodulebasenamew.md
  sdk-api-src/content/psapi/nf-psapi-getmodulefilenameexw.md
  sdk-api-src/content/psapi/nf-psapi-getprocessimagefilenamew.md
  sdk-api-src/content/winuser/nf-winuser-createwindowexw.md
  sdk-api-src/content/winuser/nf-winuser-createwindoww.md
  sdk-api-src/content/winuser/ns-winuser-createstructw.md
  sdk-api-src/content/winuser/ns-winuser-mdicreatestructw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1971 Update CodecAPI to limit the scope of legacy usage to Dshow and add new URLs to DX12 Encode
  sdk-api-src/content/strmif/nn-strmif-icodecapi.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1936 Update nf-uxtheme-setwindowtheme.md
  sdk-api-src/content/uxtheme/nf-uxtheme-setwindowtheme.md
Labels: do-not-merge, review-team-triage

#1852 add openas.
  sdk-api-src/content/shellapi/ns-shellapi-shellexecuteinfoa.md
Labels: Change sent to author, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1169 pathcch.h functions out of date and missing information
  sdk-api-src/content/pathcch/nf-pathcch-pathalloccanonicalize.md
Labels: Change sent to author, sdk-api-reference/tech, desktop/prod, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1972 Get(/Thread)ErrorMode: Add missing possible return value
  sdk-api-src/content/errhandlingapi/nf-errhandlingapi-geterrormode.md
  sdk-api-src/content/errhandlingapi/nf-errhandlingapi-getthreaderrormode.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1973 Remove incorrect statement from the docs
  sdk-api-src/content/d3d12/nf-d3d12-id3d12graphicscommandlist-reset.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1974 Clarify DML_ROUNDING_MODE
  sdk-api-src/content/directml/ne-directml-dml_rounding_mode.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1976 Unify the Private Data docs between D3D9-D3D12
  sdk-api-src/content/d3d10/nf-d3d10-id3d10device-getprivatedata.md
  sdk-api-src/content/d3d10/nf-d3d10-id3d10device-setprivatedatainterface.md
  sdk-api-src/content/d3d10/nf-d3d10-id3d10devicechild-getprivatedata.md
  sdk-api-src/content/d3d10/nf-d3d10-id3d10devicechild-setprivatedatainterface.md
  sdk-api-src/content/d3d11/nf-d3d11-id3d11device-getprivatedata.md
  sdk-api-src/content/d3d11/nf-d3d11-id3d11device-setprivatedatainterface.md
  sdk-api-src/content/d3d11/nf-d3d11-id3d11devicechild-getprivatedata.md
  sdk-api-src/content/d3d11/nf-d3d11-id3d11devicechild-setprivatedatainterface.md
  sdk-api-src/content/d3d12/nf-d3d12-id3d12object-getprivatedata.md
  sdk-api-src/content/d3d12/nf-d3d12-id3d12object-setprivatedatainterface.md
  sdk-api-src/content/d3d9/nf-d3d9-idirect3dvolume9-getprivatedata.md
  sdk-api-src/content/d3d9helper/nf-d3d9helper-idirect3dresource9-getprivatedata.md
  sdk-api-src/content/d3d9helper/nf-d3d9helper-idirect3dvolume9-getprivatedata.md
  sdk-api-src/content/ddraw/nf-ddraw-idirectdrawsurface7-getprivatedata.md
  sdk-api-src/content/dxgi/nf-dxgi-idxgiobject-setprivatedatainterface.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1978 Typo fix in nf-d3d11_3-id3d11fence-createsharedhandle.md
  sdk-api-src/content/d3d11_3/nf-d3d11_3-id3d11fence-createsharedhandle.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1977 Followup to "Unify the Private Data docs between D3D9-D3D12"
  sdk-api-src/content/d3d9/nf-d3d9-idirect3dresource9-getprivatedata.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1799 Update nf-winuser-getrawinputdevicelist.md
  sdk-api-src/content/winuser/nf-winuser-getrawinputdevicelist.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1419 Document File Object Id IOCTLs properly
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_create_or_get_object_id.md
  sdk-api-src/content/winioctl/ni-winioctl-fsctl_get_object_id.md
Labels: Change sent to author, do-not-merge, sdk-api-reference/tech, desktop/prod

#1979 CreateEventEx: Clarify that zero flags is also OK
  sdk-api-src/content/synchapi/nf-synchapi-createeventexa.md
  sdk-api-src/content/synchapi/nf-synchapi-createeventexw.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1981 Update nf-realtimeapiset-querythreadcycletime.md
  sdk-api-src/content/realtimeapiset/nf-realtimeapiset-querythreadcycletime.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc

#1980 Update nf-shellapi-shellexecutew.md
  sdk-api-src/content/shellapi/nf-shellapi-shellexecutew.md
Labels: Change sent to author, do-not-merge, windows-api-desktop-tech/svc, sdk-api-reference/subsvc
